.resources {
  .icon-btn {
    display: inline-block;
    color: #fff;
    background-color: $brand-primary;
    text-align: center;
    font-size: 0.75rem;
    border-radius: .25rem;
    border: 1px solid transparent;
    white-space: nowrap;
    height: 2.375rem;
    width: 2.375rem;
  }

  .btn {
    &.btn-white {
      background: #fff;
      color: $brand-primary;
    }

    &-tab {
      padding: 0.6em 1.8em;

      &.active {
        color: #fff;
        background: $graphite-light;
      }
    }
  }

  .subscribe {
    &-btn {
      height: 32px;
    }

    &-field {
      &::-webkit-input-placeholder {
        color: #fff;
      }

      &:-moz-placeholder {
        color: #fff;
      }

      &::-moz-placeholder {
        color: #fff;
      }

      &:-ms-input-placeholder {
        color: #fff;
      }
    }
  }

  .section {
    display: table;
    min-height: 35vh;
    width: 100%;

    &-block {
      display: table-cell;
      overflow: hidden;
      vertical-align: middle;
      padding: 2rem 0;
    }
  }

  .bg-topbar {
    height: 150px;
    background-color: $graphite-trout;
  }

  .title {
    &-bar {
      position: relative;
      height: auto;
      background-color: #f6f9fa;
    }

    &-nav-item {
      padding: 28px;
      margin-right: 35px;
      text-align: center;

      &:focus,
      &:hover {
        background-color: $brand-primary;

        .icon-arrow {
          color: #fff;
        }
      }

      &.active {
        background-color: $brand-primary;

        .icon-arrow {
          transform: rotate(180deg);
          color: #fff;
        }
      }

      .icon-arrow {
        display: inline-block;
        font-size: .45rem;
        line-height: 1.1rem;
        color: $brand-primary;

        .input-group & {
          line-height: .9rem;
        }
      }
    }
  }

  .category {
    font-size: 14px;
    line-height: 1;
    letter-spacing: 1.6px;
    color: $primary-normal;

    span + span {
      margin-left: 5px;
      padding-left: 8px;
      border-left: 1px solid $table-border-color;
    }
  }

  .subtitle {
    &-bar hr {
      border-top: 1px solid #979797;
      opacity: 0.2;
      height: 2px;
    }

    &-nav {
      ul:after {
        content: "";
        display: block;
        height: 1px;
        width: 40%;
        margin: 10px;
        background: #f00;
      }

      &-item {
        padding: 28px;
        margin-right: 35px;

        &.active {
          font-weight: bold;
        }
      }
    }
  }

  #subnav {
    opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;

    #topnav:hover + & {
      opacity: 1.0;
    }
  }

  .sideform {
    width: 300px;
    height: 445px;
    border-radius: 3px;
    background-color: #fff;
    border: solid 1px $graphite-grayish-blue;
    float: right;

    @media (max-width: 991px) {
      float: none !important;
      margin-left: auto;
      margin-right: auto;
    }

    input,
    button {
      width: 250px;
      margin-top: 10px;
    }

    input {
      margin-left: auto;
      margin-right: auto;
    }

    button {
      @media (max-width: 600px) {
        margin-left: auto !important;
        margin-right: auto !important;
      }
    }
  }

  .icon-email-open {
    padding: 17px;
    display: inline-block;
    -moz-border-radius: 222px;
    -webkit-border-radius: 222px;
    border-radius: 222px;
    background-color: $brand-primary;
    font-size: 34px;
    margin-bottom: 10px;
  }

  .tag {
    display: inline-block;
    height: 27px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border: 1px solid $brand-primary;
    background-color: #fff;
    padding: 5px 20px 5px 20px;
    margin: 14px 8px 8px 0px;
    text-transform: uppercase;

    &-container {
      border-bottom: 1px solid rgba(150, 150, 150, 0.5);
      width: 600px;
      padding-bottom: 4px;
      margin-bottom: 40px;
    }

    &-text {
      font-size: 12px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.17;
      letter-spacing: 1.4px;
      text-align: center;
      color: $primary-normal;
    }
  }


  .col-header-text {
    min-height: 8.5em;
    margin-top: -1em;

    @media (min-width: 520px) {
      min-height: 0;
      margin-top: 0;
    }
  }

  .pagination {
    a {
      font-size: 14px;
      letter-spacing: 1.4px;
      color: $gray-darkest;
      text-transform: uppercase;

      &:hover {
        color: $gray-darkest;
      }
    }
  }

  .article-container {
    padding: 0 15px;
  }

  .single-post {
    position: relative;

    .tag-container {
      width: auto;
      margin-bottom: 0;
    }
  }

  .articles {
    h6 {
      margin: 0;
      font-size: 14px;
      letter-spacing: 1.4px;
      color: $gray-darkest;
    }

    hr {
      margin-top: 5px;
    }

    ul {
      padding: 0;
      margin: 0;
    }

    .article-list {
      > a {
        align-content: stretch;
        padding: 5px 0;

        > div {
          margin: auto 0;
          padding-left: 10px;
          font-size: 14px;
          font-weight: bold;
          line-height: 1.57;
          color: $graphite-dark;
        }
      }
    }
  }

  .sidebar {
    .search-bar {
      position: relative;

      i {
        position: absolute;
        top: 7px;
        left: 7px;
        opacity: 0.8;
        color: $graphite-light;
      }

      input {
        padding-left: 25px;
        box-shadow: none;
      }
    }

    &-article {
      &-img-wrap {
        overflow: hidden;
        position: relative;
        width: 60px;
        height: 60px;
        border-radius: 3px;

        @media (min-width: 992px) {
          flex-basis: 60px;
        }

        img {
          max-width: 200px;
          max-height: 60px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &-title {
        @media (min-width: 992px) {
          flex-basis: 230px;
        }
      }
    }

    .ads {
      max-width: 290px;

      .ads-article {
        height: 250px;
        border-radius: 3px;
        background-color: #f6f6f6;
        border: solid 1px #bfbfbf;
        padding: 16px 5px 16px 16px;
        color: $graphite-dark;

        .h5 {
          font-size: 18px;
          font-weight: bold;
          color: $graphite-dark;
        }
      }
    }
  }

  .back-link {
    font-size: 16px;
    color: $gray-darkest;

    i {
      margin: -2px 15px 0 0;
      transform: rotate(90deg);
      font-size: 8px;
      vertical-align: middle;
      color: $brand-primary;
    }
  }

  .share-post {
    position: absolute;
    top: 125px;
    left: -70px;
    padding: 15px;
    margin-bottom: 50px;
    border: 1px solid #e7e7e7;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    a {
      font-size: 22px;
      transition: all .3s ease;

      &:hover {
        color: $gray-darkest;
      }

      i {
        vertical-align: middle;
      }
    }
  }

  .list-faq {
    li {
      margin-left: 1.5em;

      a {
        &:before {
          content: '+';
          position: absolute;
          margin-left: -1.0em;
          color: $brand-primary;
          font-weight: normal;
        }

        &[aria-expanded="true"]:before {
          content: '–';
        }
      }
    }
  }
}
