.households-container {

	.households-header {

		button {
			vertical-align: top;
		}

		.form-group.search {
			float: none;
			display: inline-block;
			margin-left: 12px;

			input {
				height: 38px;
			}
		}
	}

	.households-table-container {
		margin-right: 25px;
	}


	.households-table {

		thead {
			tr.total{
				background:transparent;
				border: none;
			}
			tr {
				border: 1px solid #d3d6db;
				background: #e3e7ed;

				td {
					font-size: .89rem;
					font-weight: bold;
					padding: 12px 10px;
					vertical-align: middle !important;

					&.double-cell {
						padding: 10px;
					}

					&:last-child {
						border-right: 1px solid #d3d6db !important;
					}
				}
			}
		}

		tbody {
			background-color: white;

			tr {
				border: 1px solid #d2d7d9;

				td {
					font-size: .89rem;
					color: #505e62;
					line-height: 25px;
					vertical-align: middle !important;
					padding: 10px 15px;

					span.risk-badge-with-score {
						height: 27px;
						padding-top: 0;
					}

					.get-target-score-btn {
						width: 33px;
					}
				}

				&.household-row {

					td {
						background-color: #f2fbfe;

						.household-name-label{
								margin-left:10px;
						}

						.household-accounts-shown-btn {
							width: 20px;
							height: 20px;
							padding: 0;
							line-height: 17px;
							font-size: 17px;
							background: #f2fbfe;
							border: 1px solid #999;
							color: #999;

							&:focus {
								outline: none;
							}
						}
					}
				}

				&.account-row {

					td {
						background-color: #fff;
					}
				}
			}
		}
	}
}

.households-list-container{
	margin-left: 217px;
	padding: 45px 30px;
}


.react-household-autosuggest__suggestions-container{
	position: absolute;
	border-radius: 0;
	max-height: 256px;
	overflow: auto;
}

.table-household-accounts {
	thead {
		tr {

			td {
				font-weight: bold;
				text-align: center;
			}
		}
	}

	tbody {
		border: 1px solid #D3D6D8;
		background: #E3E7ED;

		tr {
			td {
				vertical-align: middle;
			}
		}
	}

	&.households-total-table {
		tbody {
			background: #D9F3FD;
		}
	}
	& > a {
		display: flex;
		justify-content: center;
		margin-top: 20px;
	}
}

.add-household-table{
	margin:0 px;
}

td.client-search{
	background-color:#EBEEEF;
}

.household-investors {
  padding: 0 20px 0 236px;

  .heading {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 5px 0;
    border-bottom: 1px solid black;

    .account-title {
      display: flex;

      .price-family-title{
        font-size: 28px;
        margin-left: 15px;
      }

			input{
				font-size:28px;
				margin-left: 15px;
				height:42px;
				padding:none;
			}

			input[type="text"]{
		    background: transparent;
		    border: none;
			}
			input:focus{
    		outline: none;
			}

			.edit-icon-grey{
				width:30px;
				height:30px;
				margin-left:15px;
				margin-top:5px;
				fill:#bcbfc4;
			}

			.edit-icon-grey:hover{
				fill:#7c8b92;
			}

      img {
        align-self: center;
        cursor: pointer;
      }
    }

    .trash-can-icon {
      justify-content: center;
      width: auto;
      height:30px;
      color: #fff;
      display: flex;
      padding-top: 10px;
      border-radius: 3px;
      cursor: pointer;

			a {
				width: 34px;
				height: 29px;
			}
    }
  }
}
