.card {
  border-color: $table-outer-border-color;
  border-radius: 0;

  .btn-muted {
    opacity: .3;
  }

  &:hover {
    .btn-muted {
      opacity: 1;
    }
  }

  &-shadow {
    box-shadow: 0 2px 8px rgba(black, .1);
    border-radius: 3px;
  }
}