.marker {
  &-before,
  &-after {
    &:before,
    &:after {
      content: '';
      display: inline-block;
      width: 8px;
      height: 8px;
      background: $brand-primary;
      border-radius: 50%;
      box-shadow: 0 0 0 2px #fff, 0 0 0 3px $brand-primary;
    }

    &.marker-primary-dark {
      &:before,
      &:after {
        background: $primary-darker;
        box-shadow: 0 0 0 2px #fff, 0 0 0 3px $primary-darker;
      }
    }

    &.marker-success {
      &:before,
      &:after {
        background: $brand-success;
        box-shadow: 0 0 0 2px #fff, 0 0 0 3px $brand-success;
      }
    }

    &.marker-primary-darker {
      &:before,
      &:after {
        background: $primary-darker;
      }
    }

    &.marker-graphite-trout {
      &:before,
      &:after {
        background: $graphite-trout;
      }
    }

    &.marker-graphite-gray {
      &:before,
      &:after {
        background: $graphite-gray;
      }
    }

    &.marker-large {
      &:before,
      &:after {
        width: 12px;
        height: 12px;
        box-shadow: none;
      }
    }
  }

  &-before {
    &:before {
      margin-right: 10px;
    }

    &:after {
      content: none;
    }
  }

  &-after {
    &:after {
      margin-left: 10px;
    }

    &:before {
      content: none;
    }
  }

  &-top {
    &:before,
    &:after {
      vertical-align: top;
    }
  }

  &-middle {
    &:before,
    &:after {
      vertical-align: middle;
    }
  }

  &-bottom {
    &:before,
    &:after {
      vertical-align: bottom;
    }
  }

  &-status {
    &:before,
    &:after {
      box-shadow: 0 0 0 2px #fff;
    }

    &.marker {
      &-before {
        &:before {
          margin-right: 5px;
        }
      }

      &-primary {
        &:before,
        &:after {
          background: $brand-primary;
        }
      }

      &-success {
        &:before,
        &:after {
          background: $brand-success;
        }
      }

      &-inactive {
        &:before,
        &:after {
          background: $graphite-grayish-blue;
        }
      }
    }
  }
}
