// TODO Move all colors/font-sizes/width/height to variables!
.ticker-data-slider {
  background-color: #053046 !important;
  color: #fff;
  padding: 10px;

  p {
    margin-bottom: 0;
  }

  span {
    font-weight: bold;
    font-size: 14px;
  }

  .value {
    margin-right: 5px;
  }

  .change {
    &:before {
      display: inline-block;
      width: 15px;
      height: 15px;
    }

    &.positive {
      color: #aed14e;

      &:before {
        content: '▲';
      }
    }

    &.negative {
      color: #d1513c;

      &:before {
        content: '▼';
      }
    }
  }

  .slick-dots {
    bottom: 0;
    top: 0;
    right: 0;
    width: auto;

    li {
      display: block;
      width: 7px;
      height: 7px;
      margin: 0;

      &:not(:last-child) {
        margin: 0 0 5px;
      }

      button {
        width: 7px;
        height: 7px;

        &:before {
          width: 7px;
          height: 7px;
          opacity: 1;
          color: #8298a3;
        }
      }

      &.slick-active {
        button {
          &:before {
            opacity: 1;
            color: #fff;
          }
        }
      }
    }
  }
}

.insights-slider {
  .slick-dots {
    li {
      button {
        &:before {
          font-size: 14px;
          color: #09acf8 !important;
        }
      }

      &.slick-active {
        button {
          &:before {
            opacity: 1 !important;
          }
        }
      }
    }
  }
}