.form {
  &-control {
    line-height: 1.15;
    border-color: $graphite-grayish-blue;
    box-shadow: $input-box-shadow;

    &:focus {
      border-color: $brand-primary;
    }

    &::placeholder {
      color: $gray-darkest;
      opacity: .6;
    }

    .editable-fields & {
      &:not(.c-select) {
        padding: 0;
        border: 0;
        box-shadow: none;
      }
    }
  }

  &-group {
    label {
      letter-spacing: 1.4px;
      font-size: $font-size-sm;
      color: $gray-darkest;
    }

    .table & {
      margin-bottom: 0;
    }

    &.search {
      .form-control {
        padding-left: 2.1875rem;
      }

      > div {
        position: relative;
      }

      .icon-search {
        position: absolute;
        top: 8px;
        left: 13px;
        color: rgba(0, 0, 0, .3);
      }

      &-flat {
        .form-control {
          border: none;
          box-shadow: none;
        }

        .icon-search {
          top: 5px;
          left: 0;
        }
      }
    }
  }
}