.card {
  border-color: $table-outer-border-color;
  border-radius: 0;

  .btn-muted {
    opacity: .3;
  }


  span{
     padding: 0.5em 0;
  }
  &:hover {
    .btn-muted {
      opacity: 1;
    }
  }
}

