.bg-topbar {
  /*width: 1700px;*/
  text-align: left;
  height: 150px;
  background-color: #485357;
}
.title-bar {
  height: 80px;
  background-color: #f6f9fa;
}
.title-nav-item {
  padding: 28px;
  margin-right: 35px;
  &:hover {
    background-color: $brand-primary;
  }
  &.active {
    background-color: $brand-primary;
    .icon-arrow {
      transform: rotate(180deg);
      color: #ffffff;
    }
  }
  .icon-arrow {
      display: inline-block;
      font-size: .45rem;
      line-height: 1.1rem;
      color: $brand-primary;

    .input-group & {
      line-height: .9rem;
    }
  }
}
.text-white {
  color: #ffffff;
}
.category {
  width: 81px;
  height: 14px;
  font-family: AcuminPro;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 1.6px;
  color: #09adf9 !important;
  color: var(--azure);
}
.subtitle-nav ul:after {
  margin: 10px;
  width: 960px;
  height: 2px;
  opacity: 0.2;
  border-bottom: solid 1px #979797;
}
.subtitle-nav {
  padding: 28px;
  margin-right: 35px;
  &.active {
    font-weight: bold;
  }
}
