.risk-badge-with-score {
  display: inline-block;
  padding: 7px;
  padding-top: 6px;
  color: white;
  border-radius: 3px;
  font-weight: bold;
  width: 35px;
  height: 35px;
  text-align: center;
  transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  &:hover {
    opacity: .75;
    color: white;
  }
}

@each $risk-level, $risk-color in $risk-dashboard-badges {
  .risk-badge {
    &.risk-level-#{$risk-level} {
      position: relative;
      padding-left: 1.3em;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 55%;
        margin-top: -.4em;
        width: .8em;
        height: .8em;
        background: $risk-color;
      }
    }
  }

  .risk-badge-with-score {

    &.risk-level-#{$risk-level} {
      background: $risk-color;
    }
  }
}
