.text {
  &-white {
    color: #fff;
  }

  &-trout {
    color: $graphite-trout;
  }

  &-gray-darkest {
    color: $gray-darkest !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }
  }

  &-gray-dark {
    color: $gray-dark !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }
  }

  &-primary-darker {
    color: $primary-darker;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }
  }

  &-graphite-trout {
    color: $graphite-trout;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }
  }

  &-graphite-gray {
    color: $graphite-gray !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }
  }

  &-gray-black {
    color: $gray-black !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }
  }

  &-gray {
    color: $gray !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }
  }

  &-gray-light {
    color: $gray-light !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }
  }

  &-gray-lighter {
    color: $gray-lighter !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }
  }

  &-gray-lightest {
    color: $gray-lightest !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }
  }

  &-graphite {
    color: $graphite !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }
  }

  &-graphite-dark {
    color: $graphite-dark !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }
  }

  &-graphite-light {
    color: $graphite-light !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }
  }

  &-graphite-grayish-blue {
    color: $graphite-grayish-blue !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }
  }

  &-graphite-lighter {
    color: $graphite-lighter !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }
  }

  &-graphite-lightest {
    color: $graphite-lightest !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }
  }

  &-primary {
    color: $brand-primary !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }

    &-muted {
      color: $brand-primary-muted !important;

      &-link {
        &:hover {
          color: inherit !important;
        }
      }
    }

    &-dark {
      color: $primary-darker !important;

      &-link {
        &:hover {
          color: inherit !important;
        }
      }
    }
  }

  &-success {
    color: $brand-success !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }

    &-muted {
      color: $brand-success-muted !important;

      &-link {
        &:hover {
          color: inherit !important;
        }
      }
    }
  }

  &-info {
    color: $brand-info !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }

    &-muted {
      color: $brand-info-muted !important;

      &-link {
        &:hover {
          color: inherit !important;
        }
      }
    }
  }

  &-warning {
    color: $brand-warning !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }
  }

  &-danger {
    color: $brand-danger !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }

    &-muted {
      color: $brand-danger-muted !important;

      &-link {
        &:hover {
          color: inherit !important;
        }
      }
    }
  }
}

.text-thin,
.font-weight-thin {
  font-weight: 100 !important;
}

.text-lighter,
.font-weight-lighter {
  font-weight: 200 !important;
}

.text-light,
.font-weight-light {
  font-weight: 300 !important;
}

.text-normal,
.font-weight-normal {
  font-weight: 400 !important;
}

.text-bold,
.font-weight-bold {
  font-weight: 500 !important;
}

.text-bolder,
.font-weight-bolder {
  font-weight: 600 !important;
}

.align {
  &-baseline {
    vertical-align: baseline !important;
  }

  &-top {
    vertical-align: top !important;
  }

  &-middle {
    vertical-align: middle !important;
  }

  &-bottom {
    vertical-align: bottom !important;
  }

  &-text-bottom {
    vertical-align: text-bottom !important;
  }

  &-text-top {
    vertical-align: text-top !important;
  }
}

h1.text-title,
h2.text-title,
h3.text-title,
h4.text-title,
h5.text-title,
h6.text-title {
  font-weight: bold;
}

h1 {
  font-size: $text-title-size-h1;

  @media (max-width: 768px) {
    font-size: $text-title-size-h1-mobile;
    line-height: 2.5rem;
  }
}

h2 {
  font-size: $text-title-size-h2;
}

h3 {
  font-size: $text-title-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $text-title-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

.text-size-xs {
  font-size: $font-size-xs !important;
}

.text-size-sm {
  font-size: $font-size-sm !important;
}

.text-size-lg {
  font-size: $font-size-lg !important;
}

.text-title-lg {
  font-size: $text-title-lg !important;
}

.block {
  display: block !important;
}

.inline-block {
  display: inline-block !important;
}

.quarter-opacity {
  opacity: .25;
}
.line-clamp {
  overflow: hidden;
  display: block;
  display: -webkit-box;
  position: relative;
  -webkit-box-orient: vertical;
  line-height: $headings-line-height;
  text-overflow: ellipsis;
  max-width: 120px;
  height: calc(1em * #{$headings-line-height} * 2);

  &:after {
    content: '...';
    text-align: right;
    bottom: 0;
    right: 0;
    width: 25%;
    display: block;
    position: absolute;
    height: calc(1em * #{$headings-line-height});
    background: linear-gradient(to right, #eee, #eee 75%);
  }

  &-2 {
    -webkit-line-clamp: 2;
  }
}
@supports (-webkit-line-clamp: 1) {
  .line-clamp {
    height: auto;

    &:after {
      display: none !important;
    }
  }
}
