.table {
  margin: 30px 0;

  &-bordered {
    border: none;
  }

  tr {
    position: relative;
  }

  th,
  td {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }

  td {
    color: $gray-darkest;

    &.image {
      padding: .65rem;

      img {
        margin-right: .6rem;
      }
    }

    &.select {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    &.checkbox-cell {
      padding-right: 0;
      padding-left: 1.3rem;

      .c-input {
        padding-left: 1rem;
      }
    }

    &.actionable {
      position: relative;

      a {
        position: absolute;
        top: 50%;
        right: 1.2rem;
        transform: translateY(-50%);
      }
    }

    &.action {
      position: absolute;
      border-color: transparent !important;

      a {
        opacity: .2;
        color: #000;
      }


      &:hover,
      &:active,
      &:focus {
        a {
          opacity: .6;
        }
      }
    }
  }

  th {
    position: relative;
    font-weight: normal;
    border-color: $graphite-light;
    border-bottom: none;

    &.checkbox-cell {
      width: 55px;
      padding-right: 0;
      padding-left: 1.2rem;

      &:not(.select-all) {
        padding-left: .5rem;
      }
    }
  }

  thead {
    tr {
      &:first-child {
        th,
        td {
          border-bottom: none;
        }
      }
    }

    td,
    th {
      border-top: none;
    }

    th {
      font-size: $font-size-sm;
      letter-spacing: 1.6px;

      .icon-remove {
        font-size: 20px;
        color: #fff;
      }
    }
  }

  tbody {
    tr {
      td {
        &:first-child {
          border-left-color: $table-outer-border-color;
        }

        &:last-child {
          border-right-color: $table-outer-border-color;
        }
      }

      &:first-child {
        td {
          border-top: none;
        }
      }

      &:last-child {
        td {
          border-bottom-color: $table-outer-border-color;
        }
      }
    }
  }

  &-two-cells {
    th,
    td {
      width: 50%;
    }
  }

  &.editable-fields {
    td + td {
      &:not(.action) {
        box-shadow: $input-box-shadow;
      }
    }
  }

  .text-success {
    color: $table-brand-success !important;
  }

  &-borderless {
    border: none !important;

    &-top {
      border-top: none;

      tr {
        &:first-child {
          th,
          td {
            border-top: none;
          }
        }
      }
    }

    &-bottom {
      border-bottom: none;

      tbody {
        tr {
          &:last-child {
            td {
              border-bottom: none;
            }
          }
        }
      }
    }

    &-side {
      border-left: none;
      border-right: none;

      tr {
        td,
        th {
          &:first-child {
            border-left: none;
          }

          &:last-child {
            border-right: none;
          }
        }
      }
    }

    tr {
      &:first-child {
        th,
        td {
          border-top: none;
        }
      }

      td,
      th {
        &:first-child {
          border-left: none;
        }

        &:last-child {
          border-right: none;
        }
      }
    }

    tbody {
      tr {
        &:last-child {
          td {
            border-bottom: none;
          }
        }
      }
    }
  }

  .tr {
    &-middle {
      > {
        th,
        td {
          vertical-align: middle;
        }
      }
    }
  }

  .tr,
  .td {
    &-clickable {
      cursor: pointer;
    }

    &-non-clickable {
      cursor: inherit;
    }
  }

  label {
    margin-bottom: 0;
  }

  .collapsible {
    position: absolute;
    left: -50px;
    border: 1px solid $brand-primary;
    width: 20px;
    height: 20px;
    font-size: 6px;
    line-height: 20px;
    text-indent: 2px;
    text-align: center;
    border-radius: 50%;
    transform: rotate(180deg);

    &:hover,
    &:active,
    &:focus {
      border-color: $graphite-light;
      color: $graphite-light;
    }

    &.collapsed {
      transform: rotate(0deg);
    }
  }

  .collapse.in {
    display: table-row-group;
  }
}

.thead {
  &-graphite {
    th {
      color: #fff;
      background-color: $graphite-light;
    }
  }
}
