.text {
  &-gray-darkest {
    color: $gray-darkest !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }
  }

  &-gray-dark {
    color: $gray-dark !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }
  }

  &-gray {
    color: $gray !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }
  }

  &-gray-light {
    color: $gray-light !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }
  }

  &-gray-lighter {
    color: $gray-lighter !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }
  }

  &-gray-lightest {
    color: $gray-lightest !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }
  }

  &-graphite {
    color: $graphite !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }
  }

  &-graphite-dark {
    color: $graphite-dark !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }
  }

  &-graphite-light {
    color: $graphite-light !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }
  }

  &-graphite-grayish-blue {
    color: $graphite-grayish-blue !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }
  }

  &-graphite-lighter {
    color: $graphite-lighter !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }
  }

  &-graphite-lightest {
    color: $graphite-lightest !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }
  }

  &-primary {
    color: $brand-primary !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }

    &-muted {
      color: $brand-primary-muted !important;

      &-link {
        &:hover {
          color: inherit !important;
        }
      }
    }
  }

  &-success {
    color: $brand-success !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }

    &-muted {
      color: $brand-success-muted !important;

      &-link {
        &:hover {
          color: inherit !important;
        }
      }
    }
  }

  &-info {
    color: $brand-info !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }

    &-muted {
      color: $brand-info-muted !important;

      &-link {
        &:hover {
          color: inherit !important;
        }
      }
    }
  }

  &-warning {
    color: $brand-warning !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }
  }

  &-danger {
    color: $brand-danger !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }

    &-muted {
      color: $brand-danger-muted !important;

      &-link {
        &:hover {
          color: inherit !important;
        }
      }
    }
  }

  &-title {
    letter-spacing: $title-letter-spacing;
  }
}

.text-thin,
.font-weight-thin {
  font-weight: 100;
}

.text-light,
.font-weight-light {
  font-weight: 300;
}

.text-normal,
.font-weight-normal {
  font-weight: 400;
}

.text-bold,
.font-weight-bold {
  font-weight: 500;
}

h1.text-title,
h2.text-title,
h3.text-title,
h4.text-title,
h5.text-title,
h6.text-title {
  font-weight: bold;
}

h1 {
  font-size: $text-title-size-h1;
}

h2 {
  font-size: $text-title-size-h2;
}

h3 {
  font-size: $text-title-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $text-title-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

.text-size-xs {
  font-size: $font-size-xs;
}

.block {
  display: block !important;
}

.inline-block {
  display: inline-block !important;
}