.greeting {
  height: 72px;
  background: linear-gradient(to right, #09adf9, #4e4376);
  color: #fff;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;

  .right {
    text-align: right;
  }
}