.c {
  &-select {
    min-width: 250px;
    padding-top: 0.275rem;
    padding-bottom: 0.275rem;
    background: none;
    font-size: $font-size-base;
    line-height: 1.25;
    color: $gray-darkest;
    box-shadow: none;
    @include border-radius($border-radius);

    &-wrap {
      position: relative;

      .editable-fields & {
        display: block;
      }

      &:after {
        content: '\e902';

        position: absolute;
        top: 13px;
        right: 9px;
        color: $brand-primary;
        font-size: .5rem;

        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }

    &:focus {
      border-color: $brand-primary;
    }

    .table & {
      min-width: 180px;
    }

    .modal & {
      width: 100%;
    }
  }

  &-indicator {
    background-color: white;
    border: 1px solid $graphite-grayish-blue;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  }

  &-input {
    > input {
      &:checked {
        ~ .c-indicator {
          background-color: $brand-primary;
          border: none;
          box-shadow: none;
        }
      }
      &:focus {
        ~ .c-indicator {
          box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem $brand-primary;
        }
      }
    }
  }

  &-checkbox {
    input {
      ~ .c-indicator {
        background-image: none !important;

        &:before {
          display: none;
        }
      }

      &:checked {
        ~ .c-indicator {
          &:before {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -5px 0 0 -6px;
          }
        }
      }
    }

    .c-indicator {
      @include border-radius(1px);
    }
  }
}