.btn {
  font-weight: $btn-font-weight;
  @include transition(all .3s);

  &-shadow {
    box-shadow: 0 1px 5px #aaa;
  }

  &-bold {
    font-weight: bold;
  }

  &-round {
    width: 30px;
    height: 30px;
    padding-bottom: 0;
    border-radius: 50%;
    padding-left: 7px;
    padding-top: 0;
  }

  &-grey {
    background: #ccc;
    color: #fff;

    &:active,
    &.active,
    &:focus,
    &.focus,
    &:hover,
    &.hover {
      background: $graphite-dark;
    }
  }

  &-success {
    @media (max-width: 768px) {
      width: 100%;
      margin-bottom: 1.5rem;
    }
  }

  .dropdown-title & {
    letter-spacing: normal;
  }

  &-icon {
    padding: 0.45em 0.7em;
    @include border-radius(100em);
  }

  &-title {
    padding: $btn-padding-y-xxxlg $btn-padding-x-xxxlg;
    text-transform: uppercase;

    @media (max-width: 600px) {
      display: block;
      margin-left: 0 !important;
      margin-bottom: 1rem;
    }
  }

  &.disabled,
  &:disabled {
    opacity: .6;
  }

  &-group {
    .nowrap {
      display: flex;
    }
  }

  .btn-group & {
    font-size: $font-size-sm;

    &-secondary {
      border-color: $graphite-light;
    }
  }

  &-fixed-width {
    min-width: 204px;
  }

  &.btn-xs {
    padding: .2rem 1rem;
    font-size: .75rem;
  }

  &.btn-lg {
    font-size: $font-size-h5;
    line-height: 1.7;
  }

  &-muted {
    @extend .btn-secondary;
    border-color: $graphite-dark;
    color: $graphite-dark;

    &:active,
    &.active,
    &:focus,
    &.focus,
    &:hover,
    &.hover {
      border-color: $graphite-light;
      background: $graphite-light;
      color: #fff;
    }

    &.active {
      &:focus,
      &:active,
      &:hover {
        border-color: $graphite-light;
        background: $graphite-light;
        color: #fff;
      }
    }

    &.disabled,
    &:disabled {
      &:hover,
      &.hover {
        color: $graphite-dark;
      }
    }

    &-primary {
      @extend .btn-muted;
      color: $brand-primary;
      border-color: $brand-primary;
      background-color: transparent;

      &:active,
      &.active,
      &:focus,
      &.focus,
      &:hover,
      &.hover {
        border-color: $brand-primary;
        background-color: $brand-primary;
        color: #fff;
      }
    }
  }

  &-primary {
    &.active, &:active, &:target {
      background-color: $primary-dark;
    }

    &:hover, &:focus {
      background-color: $primary-light;

      &.active, &:active, &:target {
        background-color: $primary-dark;
      }
    }
  }

  &-success {
    &.active, &:active, &:target {
      background-color: $success-dark;
    }

    &:hover, &:focus {
      background-color: $success-light;

      &:active, &.active, &:target {
        border-color: $success-dark;
      }
    }
  }

  &-black {
    @extend .btn-primary;
    border-color: $graphite-dark;
    background-color: $graphite-dark;

    &:active, &.active, &:target {
      border-color: $graphite-dark;
      background-color: $gray-dark;
    }
    &:focus, &.focus, &:hover, &.hover {
      border-color: $gray-dark;
      background-color: $gray;

      &:active, &.active, &:target {
        background-color: $gray-dark;
        border-color: $gray-dark;
      }
    }
  }
}

.arrowSquare{
  width: 32px;
  height: 32px;
  background: #0AABF9;
  font-size: 20px;
  text-align: center;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
}

.checkbox{
  float: right;
  height: 39px;
  width: 39px;
  background: #505e62;
  margin: -5px -10px;
}