.advisor-container {
  & {
    padding-top: 3.5rem;
  }

  .investors-wrapper,
  .investments-wrapper {
    width: 100%;
    max-width: 1098px;
    margin: auto;

    @media screen and (max-width: 1366px) {
      max-width: none;
      padding: 0 24px;
    }
  }

  .investors-wrapper .customer-list {
    margin-top: 24px;
  }
}

.investor-container {
  & {
    padding-top: 3.5rem;
  }
}

.navbar-dark {
  .navbar-brand {
    color: $navbar-dark-active-color;

    @include hover-focus {
      color: $navbar-dark-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-dark-color;

      @include hover-focus {
        color: $navbar-dark-hover-color;
      }

      &.disabled {
        color: $navbar-dark-disabled-color;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: $navbar-dark-active-color;
    }
  }

  .navbar-text {
    color: $navbar-dark-color;
  }
}

.test{
  width:500px;
  height:500px;
  background-color:red;
}

.signup-navbar {
  padding: 0 6%;
  background-color: #053046;
  height:67px !important;
  opacity: 1;
  -webkit-transition: background 0.3s ease-out;
  -moz-transition: background 0.3s ease-out;
  transition: background 0.3s ease-out;
  min-width: 320px;
}

.signup-logo{
  width:105px;
  height:15px;
  padding:33px 0 10px 0;
  display:flex;
  align-items:center;
}

.signup-tag{
  position:relative;
  width:50px;
  top:2px;
  left:10px;
  color:#fff;
  white-space:nowrap;
  font-family:Roboto;
  font-size:14px;

}

.img-logo{
  height:16px;
}


@media screen and (max-width: 1024px) {
  .signup-navbar {
    display: block !important;
    opacity: 1; } }
.signup-navbar .logo {
  padding: 11px 0 10px;
  width: 10%;
  display: flex;
  align-items: center; }
  @media (max-width: 1024px) {
    .signup-navbar .logo {
      width: 170px;
      justify-content: center;
      padding: 0;
      margin-left: 34%; } }
  @media screen and (max-width: 1024px) {
    .signup-navbar .logo {
      display: block;
      margin: 0 auto; } }
.signup-navbar .logo .svg-logo {
  width: 116px;
  height: 17px;
  fill: #fff; }
  @media (max-width: 1024px) {
    .signup-navbar .logo .svg-logo {
      width: 159px;
      height: 23px; } }
.signup-navbar .menu-wrapper {
  align-items: center;
  justify-content: center; }


.navbar {
  padding: 0 $navbar-padding-horizontal;
  min-height: $navbar-max-height;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  border-radius: 0;
  background: #fff;
  box-shadow: 0 -1px 5px #777;

  &-toggler {
    font-size: 30px;
    padding-top: 5px;
  }



  &.loggedin {
    padding-left: 0;

    .drawer-switcher {
      width: 216px;
      padding: 0 10px;
      position: relative;

      & > a {
        padding-left: 4px;
      }

      img {
        margin-right: 60px;
      }
    }

    &.no-user-pic {
      padding-right: $navbar-max-height;

      &:before,
      &:after {
        position: absolute;
        display: block;
      }

      &:before {
        content: '';
        top: 0;
        right: 0;
        width: $navbar-max-height;
        height: $navbar-max-height;
        background: #ddd;
      }

      &:after {
        right: 0;
        content: "\e918";

        font-size: 32px;
        width: $navbar-max-height;
        line-height: $navbar-max-height;
        text-align: center;

        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }

    &.shown {
      transition: .3s ease-in top;
      top: 0;
    }

    &.hidden {
      transition: .3s ease-out top;
      top: -80px;
    }
  }

  &.user-pic {
    padding-right: 0;
  }

  &:after {
    content: none;
  }

  @media (min-width: 769px) {
    &-toggler {
      //display: none;

      &:focus {
        outline: none;
      }
    }
  }

  @media (max-width: 570px) {
    padding-left: 0;
  }

  @media (max-width: 950px) {
    padding-right: 0 !important;

    &::before {
      display: none !important;
    }
    &::after {
      display: none !important;
    }
  }

  .navbar-nav {
    vertical-align: middle;

    &.navbar-main {
      @media (max-width: 1040px) {
        left: 420px;
      }
      @media (max-width: 768px) {
        left: 50%;
        width: 100%;
        top: 200% !important;
      }

      .red-dot {
        border-radius: 50%;
        background: #ff8484;
        width: 12px;
        height: 12px;
        position: absolute;
        top: 5px;
        left: -20px;
      }

      .notification-icon {
        position: absolute;
        left: -27px;
        top: 8px;
        font-size: 19px;
        z-index: -1;
        text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
        color: $graphite-dark;
      }

      .nav-item {

        @media (max-width: 768px) {

          &:not(.dropdown) {
            float: none;
            display: block;
          }
        }

        + .nav-item {
          margin-left: 0;

          &:not(.dropdown) {
            margin-left: $navbar-padding-horizontal * 2;

            @media (max-width: 1170px) {
              margin-left: 15px !important;
            }

            @media (max-width: 768px) {
              margin-left: 0;
            }
          }
        }
      }

      .nav-link {
        text-transform: uppercase;
        font-weight: 200;
        letter-spacing: 1.3px;
        line-height: 1.77;
        font-size: $font-size-sm;
        color: $navbar-dark-color;
        opacity: 0.6;
        @include transition(all .3s);

        &.active,
        &.dropdown-toggle {
          opacity: 1;
        }

        &.dropdown-toggle {
          text-transform: none;
        }
      }
    }

    .navbar-brand {

      img {
        display: inline-block;
        height: 100%;
        max-height: 4.1rem;
        margin-right: .5rem;
      }

      .nav-image-wrapper img {
        width: auto;
        height: auto;
        max-height: 100%;
        margin-right: .5rem;
      }

    }

    @media (max-width: 768px) {

      &.navbar-main {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 10;
        background: $graphite-dark;
        text-align: center;

        &.collapse {
          display: none;

          &.in {
            display: block;
          }
        }
      }
    }

    &-static-top {
      &.bg-inverse {
        @include border-radius(0);
      }
    }
  }
  .nav-image-wrapper {
    display: inline-block;
    max-height: 100%;
    overflow: hidden;
    &:after {
      content: '';
      display: inline-block;
      width: 0px;
      height: 100%;
      vertical-align: middle;
    }
  }

  .notifications-btn {
    position: absolute;
    left: 235px;
    top: 24px;
    color: $brand-primary;
    cursor: pointer;

    &:hover {
      span {
        color: $graphite-dark;
      }
    }

    span {
      font-size: 15px;
    }

    &:before {
      content: '';
      border: 2px solid #394346;
      border-radius: 2px;
      display: inline-block;
      width: 20px;
      height: 20px;
      vertical-align: middle;
      margin-right: 8px;
    }

    &.have-unread:after {
      display: block;
      width: 14px;
      height: 14px;
      background: #09acf8;
      content: '';
      position: absolute;
      top: 0;
      left: 12px;
      border-radius: 50%;
      border: 2px solid #fff;
    }
  }
}

.investor-container .navbar .account-info {
  display: flex;

  & > div {
    display: flex;
    align-items: center;
    padding: 10px;
    border-left: 2px solid #f0f3f4;

    label { margin: 0 5px 0 0; }
    span { font-weight: bold; margin: 0; }
  }
}

.blue-top-bar {
  height: 72px;
  padding: 10px 20px 15px;
  background: linear-gradient(90deg, #09adf9, #4e4376);

  h4, p {
    color: #fff;
  }

  h4 {
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 1;
  }

  p {
    font-size: 15px;
    margin-bottom: 0;
    line-height: 1;
  }
}

.notifications {
  position: relative;

  .notifications-count {
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #c93539;
    right: -15px;
    top: -9px;
    text-align: center;
    font-size: 15px;
    padding-top: 2px;
    color: #fff;
  }
}
