.performance-report {

  .report-success-text {
    font-size: 20px;
  }

  h3 {
    font-size: 1.75rem;
  }

  .company-name {
    text-transform: uppercase;
  }

  .step-progress {
    padding: 0;
    margin: 0;
    padding-bottom: 30px;
  }

  .preview-heading {

    h3 {
      margin: 0;
    }

    p {
      font-size: 20px;
    }
  }

  .preview-table {

    .h5 {
      font-size: 1rem;
    }

    td, th {
      padding: .75rem;
    }

    td {
      font-size: 1rem;
    }
  }
}