.btn {
  letter-spacing: .1rem;
  font-weight: $btn-font-weight;
  @include transition(all .3s);

  &-shadow {
    box-shadow: 0 1px 5px #aaa;
  }

  &-bold {
    font-weight: bold;
  }

  &-success {
    @media (max-width: 768px) {
      width: 100%;
      margin-bottom: 1.5rem;
    }
  }

  .dropdown-title & {
    letter-spacing: normal;
  }

  &-icon {
    padding: 0.45em 0.7em;
    @include border-radius(100em);
  }

  &-title {
    padding: $btn-padding-y-xxxlg $btn-padding-x-xxxlg;
    text-transform: uppercase;

    @media (max-width: 600px) {
      display: block;
      margin-left: 0 !important;
      margin-bottom: 1rem;
    }
  }

  &.disabled,
  &:disabled {
    opacity: .6;
  }

  &-group {
    .nowrap {
      display: flex;
    }
  }

  .btn-group & {
    font-size: $font-size-sm;

    &-secondary {
      border-color: $graphite-light;
    }
  }

  &-fixed-width {
    min-width: 204px;
  }

  &.btn-lg {
    font-size: $font-size-h5;
    line-height: 1.7;
  }

  &-muted {
    @extend .btn-secondary;
    border-color: $graphite-dark;
    color: $graphite-dark;

    &:active,
    &.active,
    &:focus,
    &.focus,
    &:hover,
    &.hover {
      border-color: $graphite-light;
      background: $graphite-light;
      color: white;
    }

    &.active {
      &:focus,
      &:active,
      &:hover {
        border-color: $graphite-light;
        background: $graphite-light;
        color: white;
      }
    }

    &.disabled,
    &:disabled {
      &:hover,
      &.hover {
        color: $graphite-dark;
      }
    }
  }

  &-primary {
    &.active, &:active, &:target {
      background-color: $primary-dark;
    }

    &:hover, &:focus {
      background-color: $primary-light;

      &.active, &:active, &:target {
        background-color: $primary-dark;
      }
    }
  }
  &-muted-primary {
    border: 1px solid $brand-primary;
    color: $brand-primary;
    background-color: #f7f7f9;
    min-width: 130px;
  }

  &-success {
    &.active, &:active, &:target {
      background-color: $success-dark;
    }

    &:hover, &:focus {
      background-color: $success-light;

      &:active, &.active, &:target {
        border-color: $success-dark;
      }
    }
  }

  &-black {
    @extend .btn-primary;
    border-color: $graphite-dark;
    background-color: $graphite-dark;

    &:active, &.active, &:target {
      border-color: $graphite-dark;
      background-color: $gray-dark;
    }
    &:focus, &.focus, &:hover, &.hover {
      border-color: $gray-dark;
      background-color: $gray;

      &:active, &.active, &:target {
        background-color: $gray-dark;
        border-color: $gray-dark;
      }
    }
  }
}