.prism-overview-container {
  padding-left: 216px;

  .prism-overview{
    padding: 32px;

    .icon-arrow {
      font-size: 10px;
      margin-left: 19px;
      display: inline-block;

      &.shown {
        transform: rotate(180deg);
      }
    }

    .prism-dropdown {
      float: right;

      .btn-prism {
        width: 250px;
        height: 37px;
        background-color: transparent;
        border: 1px solid #7C8C94;
        padding-left: 20px;
        display: flex;
        justify-content: space-between;

        &:focus {
          outline: none;
        }

        .icon-arrow {
          margin-right: 10px;
          line-height: 0;
        }
      }

      span {
        font-size: 16px;
        line-height: 0;
      }

      .dropdown-menu {
        width: 100%;
        margin-top: 5px;

        .dropdown-item {
          border-top: none;
          cursor: pointer;
          display: flex;
          justify-content: space-between;
        }

        .plus-icon {
          margin-top: 7px;

          img {
            width: 25px;
          }
        }
      }
    }

    .header {
      margin-bottom: 30px;

      span {
        color: #394346;
        font-weight: 600;

        &.title {
          vertical-align: text-bottom;
          font-size: 18px;
          line-height: 0;
        }
      }

    }

    .score-line {
      padding: 29px 60px;
    }

    .score-container {
      padding: 29px 30px;
      background-color: white;
      margin-top: 8px;
      border: 1px solid #D3D6DB;

      &.overall {
        padding-top: 20px;

        h5 {
          display: inline-block;
        }

        .minus-icon {
          margin-left: 15px;

          img {
            width: 25px;
          }
        }

      }

      .overlay {
        display: inline-block;
        padding: 8px 5px 8px 15px;
        vertical-align: middle;
        background-color: #31E3FF;
        border-radius: 30px;
        color: white;
        font-size: 14px;
        margin-left: 18px;
        cursor: pointer;
      }
    }

    .score-analysis {
      text-align: center;
      background-color: #D3D6D8;
      height: 43px;
      padding-top: 10px;
      cursor: pointer;
      margin-bottom: 40px;

      span {
        vertical-align: middle;
      }
    }

    .score-list {
      margin-bottom: 9px;

      .score-container {
        width: 49.6%;
        display: inline-block;
      }

      .score-container:nth-child(odd){
        margin-right: 8px;
      }
    }

    .distribution-container {
      padding: 29px 30px;
      background-color: #fff;
      margin-top: 8px;
      border: 1px solid #d3d6db;

      h5 {
        margin-bottom: 30px;
      }

      #score-distribution-compare,
      #score-distribution-current {
        width: 70%;
        display: inline-block;

        .amChartsLegend {
          margin-left: 30px;
        }
      }
    }

    .table-advisors-score {
      margin-top: 41px;

      td {
        padding-top: 10px;
        padding-bottom: 10px;
      }

      thead tr {
        border: 1px solid #d3d6db;
        background: #e3e7ed;

        td:first-child {
          width: 35%;
        }

        td > span,
        td .tooltipR {
          margin-left: 10px;
        }

        td > span {
          user-select: none;
          cursor: pointer;
          position: absolute;
          width: 10px;
          height: 10px;
        }

        td .tooltipR {

          object {
            width: 15px;
            height: 15px;
          }

          .tooltip-top {
            width: 315px;
            margin-left: -157px;
            opacity: 0.8;
            color: #dae3e6;
            font-size: 13px;
            font-weight: normal;
            cursor: default;
            text-align: left;
          }
        }
      }

      tbody {
        background-color: #fff;

        tr.active {
          background-color: #F2FBFE !important;
        }

        tr.details {
          display: none;

          &.active {
            display: table-row;
          }
        }

        td {
          &.name {
            color: #09ACF8;
          }

          &.total-asset {
            font-weight: 600;
          }

          &.text {
            line-height: 2;
          }
        }
      }

      .risk-badge-with-score {
        width: 43px;
        height: 30px;
        padding-top: 4px;
        border-radius: 0;
      }

      .prism-dropdown {
        float: none;
        width: 250px;
        margin-top: 10px;
      }

      .double-chart {
        display: flex;
        justify-content: space-between;
      }

      .score-line,
      .chart-score-distribution{
        width: 47%;
      }

      .score-line {
        padding-top: 60px;
      }

      .icon-arrow {
        margin-right: 20px;
      }

      .toggle-details {
        cursor: pointer;
        padding-right: 0;

        img {
          width: 19px;
          height: 11px;
        }
        &.shown {
          img{
            transform: rotate(180deg);
          }
        }

      }
    }
  }
}
/* Animation to hide tooltip with transition */
#selectAdvisorTooltip {
  opacity: 1;
  -moz-animation: 1s ease-out 5s tooltipAnimation forwards;
  -webkit-animation: 1s ease-out 5s tooltipAnimation forwards;
  -o-animation: 1s ease-out 5s tooltipAnimation forwards;
  animation: 1s ease-out 5s tooltipAnimation forwards;
}

@keyframes tooltipAnimation {
  to {
    opacity: 0;
  }
}
