.modal {
  &-lg {
    max-width: 70rem;
    width: 90%;

    @media (max-width: 600px) {
      width: 100%;
      margin: 0;
    }
  }

  &-content {
    padding: 2.5rem 5.625rem;

    @media (max-width: 768px) {
      padding: .5rem 1rem;
    }
  }

  &-body {
    padding-bottom: 0;
  }

  &-footer {
    padding: 0;
  }

  &-dialog {
    .modal.fade & {
      transform: translateY(0);
      @include transition(none);
    }

    .modal.in & {
    }
  }

  &.left,
  &.right {
    .navbar-nav {
      .nav-item {
        float: none;

        + .nav-item {
          margin-left: 0;
        }
      }

      .nav-link {
        + .nav-link {
          margin-left: 0;
        }
      }
    }

    .modal {
      &-dialog {
        position: fixed;
        margin: auto;
        width: 80%;
        height: 100%;
        -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
        -o-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);
      }

      &-header {
        border-bottom-color: transparent;
      }

      &-content {
        height: 100%;
        overflow-y: auto;
        @include border-radius(0);
        border: none;
      }

      &-body {
        padding: $grid-gutter-width / 2 $grid-gutter-width;
      }

      &-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: left;
        border-top-color: transparent;
        padding: $grid-gutter-width / 2 $grid-gutter-width;
      }
    }
  }

  &.left {
    &.fade {
      .modal-dialog {
        left: -80%;
        @include transition(opacity .3s linear, left .3s ease-out);
      }

      &.in {
        .modal-dialog {
          left: 0;
        }
      }
    }
  }

  &.right {
    &.fade {
      .modal-dialog {
        right: -80%;
        @include transition(opacity .3s linear, right .3s ease-out);
      }

      &.in {
        .modal-dialog {
          right: 0;
        }
      }
    }
  }

  &-900 {
    width: 90%;
    max-width: 900px;
  }

  &-commentary {
    &.modal-dialog {
      @media (min-width: 900px) {
        width: 735px;
      }
    }

    .modal {
      &-content {
        overflow: hidden;
        padding: 2rem .5rem;
        height: 80vh;
      }

      &-header {
        margin: 0 1rem;
        padding: 0 0 .25rem;
        border-bottom: 1px solid #e5e5e5 !important;

        .close {
          position: absolute;
          right: .5rem;
          top: .5rem;
          opacity: 1;
          outline: none;

          .icon-exit {
            padding: 5px;
            padding-left: 6px;
            font-size: .75rem;
            border: 1px solid #000;
            border-radius: 50%;
          }
        }
      }

      &-title {
        font-size: 1.5rem !important;
        font-weight: 400 !important;

        &-investment {
          font-size: 14px !important;
        }
      }

      &-body {
        padding: 1rem;
        overflow-y: scroll;
        max-height: calc(80vh - 90px);

        .list {
          padding: 0;
          list-style: none;

          li {
            margin-bottom: 2.5rem;
          }
        }

        .commentary-date {
          color: #a2b1b9;
        }

        p {
          margin-bottom: 0;
          line-height: 1.38;
        }

        @include custom-scrollbar(7px, 10px, $royal-opacity);
      }
    }
  }
}

.modal-investment{
  width: 760px;
  &-header{
    height: 40px;
    background-color: #92DCF7;

    .close {
      width: 40px;
      height: 40px;
      background-color: #043146;
      top: 0;
      right: 0;
      opacity: 1;

      span {
        text-shadow: 0 0 0 black;
        color: white;
      }
    }
  }
  &-body{
    padding: 25px 25px 15px;
  }
  &-content{
    padding: 0;
  }
  &-footer{
    text-align: center;
    padding: 16px 0;
    background-color: #E9F8FD;
  }
  .modal-title-investment{
    font-size: 16px;
    line-height: 40px;
    font-weight: 600;
    padding-left: 25px;
  }
}
