.text {
  &-gray-dark {
    color: $gray-dark !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }
  }

  &-gray {
    color: $gray !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }
  }

  &-gray-light {
    color: $gray-light !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }
  }

  &-gray-lighter {
    color: $gray-lighter !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }
  }

  &-gray-lightest {
    color: $gray-lightest !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }
  }

  &-graphite {
    color: $graphite !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }
  }

  &-graphite-dark {
    color: $graphite-dark !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }
  }

  &-graphite-light {
    color: $graphite-light !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }
  }

  &-graphite-lighter {
    color: $graphite-lighter !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }
  }

  &-graphite-lightest {
    color: $graphite-lightest !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }
  }

  &-primary {
    color: $brand-primary !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }

    &-muted {
      color: $brand-primary-muted !important;

      &-link {
        &:hover {
          color: inherit !important;
        }
      }
    }
  }

  &-success {
    color: $brand-success !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }

    &-muted {
      color: $brand-success-muted !important;

      &-link {
        &:hover {
          color: inherit !important;
        }
      }
    }
  }

  &-info {
    color: $brand-info !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }

    &-muted {
      color: $brand-info-muted !important;

      &-link {
        &:hover {
          color: inherit !important;
        }
      }
    }
  }

  &-warning {
    color: $brand-warning !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }
  }

  &-danger {
    color: $brand-danger !important;

    &-link {
      &:hover {
        color: inherit !important;
      }
    }

    &-muted {
      color: $brand-danger-muted !important;

      &-link {
        &:hover {
          color: inherit !important;
        }
      }
    }
  }

  &-title {
    text-transform: uppercase;
    letter-spacing: $title-letter-spacing;
  }
}

.text-thin,
.font-weight-thin {
  font-weight: 100;
}

.text-light,
.font-weight-light {
  font-weight: 300;
}

.text-normal,
.font-weight-normal {
  font-weight: 400;
}

.text-bold,
.font-weight-bold {
  font-weight: 500;
}