@media (max-width: 768px) {
  .container {
    width: auto !important;
  }

  .onboarding {
    padding-top: 0 !important;

    .heading {
      font-size: 1.6rem;
      line-height: 1.3;
    }

    .wrapper {
      display: block !important;
      padding-top: 1.5rem !important;

      & > div {
        display: block !important;
      }

      .card {
        display: block !important;
        width: 100% !important;
        margin-bottom: 30px;
      }

      .offset {
        display: none !important;
      }
    }

  }
}
