.navbar {
  padding: 0 $navbar-padding-horizontal;
  min-height: $navbar-min-height;

  &.user-pic {
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: top right;
    padding-right: $navbar-min-height;
  }

  &:after {
    content: none;
  }

  .navbar-nav {
    .nav-item {
      + .nav-item {
        margin-left: 0;

        &:not(.dropdown) {
          margin-left: $navbar-padding-horizontal * 2;
        }
      }
    }

    .nav-link {
      text-transform: uppercase;
      font-weight: 100;
      letter-spacing: 1.3px;
      line-height: 1.77;
      font-size: $font-size-sm;
      color: $navbar-dark-color;
      opacity: 0.6;

      &.active,
      &.dropdown-toggle {
        opacity: 1;
      }

      &.dropdown-toggle {
        text-transform: none;
      }
    }
  }

  .navbar-brand {
    img {
      display: inline-block;
      width: 7rem;
      margin-right: .5rem;
    }
  }

  &-static-top {
    &.bg-inverse {
      @include border-radius(0);
    }
  }
}
