// A Complete Guide to Flexbox by CHRIS COYIER
// https://css-tricks.com/snippets/css/a-guide-to-flexbox/

.flex {
  display: flex;

  &-wrap {
    flex-wrap: wrap;

    &-no {
      flex-wrap: nowrap;
    }

    &-reverse {
      flex-wrap: wrap-reverse;
    }
  }

  &-basis {
    &-3 {
      flex-basis: 25%;
      max-width: 25%;
    }
    &-6 {
      flex-basis: 50%;
      max-width: 50%;
    }
  }
}

.direction {
  &-row {
    flex-direction: row;
  }

  &-row-reverse {
    flex-direction: row-reverse;
  }

  &-column {
    flex-direction: column;
  }

  &-column-reverse {
    flex-direction: column-reverse;
  }
}

.justify {
  &-start {
    justify-content: flex-start;
  }

  &-end {
    justify-content: flex-end;
  }

  &-center {
    justify-content: center;
  }

  &-around {
    justify-content: space-around;
  }

  &-between {
    justify-content: space-between;
  }
}

.align {
  &-start {
    align-items: flex-start;
  }

  &-end {
    align-items: flex-end;
  }

  &-center {
    align-items: center;
  }

  &-stretch {
    align-items: stretch;
  }

  &-self {
    &-start {
      align-self: flex-start;
    }

    &-end {
      align-self: flex-end;
    }

    &-center {
      align-self: center;
    }

    &-stretch {
      align-self: stretch;
    }
  }
}

.grow {
  &-1 {
    flex-grow: 1;
  }
}