.spinner {
  position: absolute;
  left: 50%;
  margin: 10% 0 0 -($spinner-width/2);
  z-index: 5;

  img {
    width: $spinner-width;
    animation: rotate 1s infinite linear
  }
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



