.modal {
  &-lg {
    max-width: 70rem;
    width: 90%;

    @media (max-width: 600px) {
      width: 100%;
      margin: 0;
    }
  }

  &-content {
    padding: 2.5rem 5.625rem;

    @media (max-width: 768px) {
      padding: .5rem 1rem;
    }
  }

  &-body {
    padding-bottom: 0;
  }

  &-footer {
    padding: 0;
  }

  &-dialog {
    .modal.fade & {
      transform: translateY(0);
      @include transition(none);
    }

    .modal.in & {
    }
  }

  &.left,
  &.right {
    .navbar-nav {
      .nav-item {
        float: none;

        + .nav-item {
          margin-left: 0;
        }
      }

      .nav-link {
        + .nav-link {
          margin-left: 0;
        }
      }
    }

    .modal {
      &-dialog {
        position: fixed;
        margin: auto;
        width: 80%;
        height: 100%;
        -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
        -o-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);
      }

      &-header {
        border-bottom-color: transparent;
      }

      &-content {
        height: 100%;
        overflow-y: auto;
        @include border-radius(0);
        border: none;
      }

      &-body {
        padding: $grid-gutter-width / 2 $grid-gutter-width;
      }

      &-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: left;
        border-top-color: transparent;
        padding: $grid-gutter-width / 2 $grid-gutter-width;
      }
    }
  }

  &.left {
    &.fade {
      .modal-dialog {
        left: -80%;
        @include transition(opacity .3s linear, left .3s ease-out);
      }

      &.in {
        .modal-dialog {
          left: 0;
        }
      }
    }
  }

  &.right {
    &.fade {
      .modal-dialog {
        right: -80%;
        @include transition(opacity .3s linear, right .3s ease-out);
      }

      &.in {
        .modal-dialog {
          right: 0;
        }
      }
    }
  }

  &-900 {
    width: 90%;
    max-width: 900px;
  }

  &-commentary {
    &.modal-dialog {
      @media (min-width: 900px) {
        width: 735px;
      }
    }

    .modal {
      &-content {
        overflow: hidden;
        padding: 2rem .5rem;
        height: 80vh;
      }

      &-header {
        margin: 0 1rem;
        padding: 0 0 .25rem;
        border-bottom: 1px solid #e5e5e5 !important;

        .close {
          position: absolute;
          right: .5rem;
          top: .5rem;
          opacity: 1;
          outline: none;

          .icon-exit {
            padding: 5px;
            padding-left: 6px;
            font-size: .75rem;
            border: 1px solid #000;
            border-radius: 50%;
          }
        }
      }

      &-title {
        font-size: 1.5rem !important;
        font-weight: 400 !important;

        &-investment {
          font-size: 14px !important;
        }
      }

      &-body {
        padding: 1rem;
        overflow-y: scroll;
        max-height: calc(80vh - 90px);

        .list {
          padding: 0;
          list-style: none;

          li {
            margin-bottom: 2.5rem;
          }
        }

        .commentary-date {
          color: #a2b1b9;
        }

        p {
          margin-bottom: 0;
          line-height: 1.38;
        }

        @include custom-scrollbar(7px, 10px, $royal-opacity);
      }
    }
  }
}

.modal-investment{
  width: 760px;
  &-header{
    height: 40px;
    background-color: #92DCF7;

    .close {
      width: 40px;
      height: 40px;
      background-color: #043146;
      top: 0;
      right: 0;
      opacity: 1;

      span {
        text-shadow: 0 0 0 black;
        color: white;
      }
    }

    &.modal-header-plain {
      background-color: transparent;
    }
  }
  &-body{
    padding: 25px 25px 15px;
  }
  &-content{
    padding: 0;
  }
  &-footer{
    text-align: center;
    padding: 16px 0;
    background-color: #E9F8FD;
  }
  .modal-title-investment{
    font-size: 16px;
    line-height: 40px;
    font-weight: 600;
    padding-left: 25px;
  }
}

.modal-header-v2 {

  button.close {
    right: 0;
    top: 0;
    padding: 12px;
    background: #053046;
    opacity: 1;
    color: #fff;
  }
}


.modal-v2 {

  .background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;
    opacity: 0.4;
    z-index: 3;
  }
  .popup {
    position: fixed;
    width: 551px;
    height: 568px;
    top: 18%;
    left: 14%;
    right: 0;
    margin: auto;
    text-align: left;
    background: white;
    border: 1px solid #D3D6DB;
    z-index: 4;

    .header {
      display: flex;
      height: 46px;

      .title {
        display: flex;
        flex: 1;
        justify-content: center;
        flex-direction: column;
        padding-left: 20px;
        background: #B1E4F7;
        border-bottom: 1px solid #D3D6DB;
        font-size: 18px;
        font-weight: bold;
      }

      .img {
        display: flex;
        background: black;
        width: 46px;

        img {
          display: flex;
          margin: auto;
        }
      }
    }

    .body {
      padding: 46px 40px 52px;

      li {
        margin-bottom: 35px;
        &:nth-last-of-type(2) {
          margin-bottom: 38px;
        }
        &:last-of-type {
          list-style: none;
          text-align: center;
          width: 428px;
          button {
            margin-left: 0;
          }
        }
      }

      button {
        margin-left: 24px;
        height: 35px;
        width: 145px;
        border: 1px solid #D3D6DB;
        background: #09ACF8;
        color: white;
      }

      .dropzone {
        margin-top: 26px;

        div {
          display: table-cell;
          height: 158px !important;
          width: 428px !important;
          border: 1px dashed #D3D6DB !important;
          text-align: center;
          vertical-align: middle;
          color: #BCBFC4;
          font-weight: bold;
          cursor: pointer;
        }
      }

      .loading-tab {
        text-align: center;

        .progress-bar {
          margin-top: 20px;
          height: 20px;
          background: lightgrey;
          .progressbar-progress {
            height: 20px !important;
            background-color: #92DCF8 !important;
          }
        }
      }
    }
  }
}