.btn {
  font-weight: 300;
  letter-spacing: 1.6px;
  @include transition(all .2s);


  &.disabled,
  &:disabled {
    opacity: .6;
  }

  .btn-group & {
    font-size: 14px;

    &-secondary {
      border-color: $graphite-light;
    }
  }

  &.btn-lg {
    font-size: 18px;
    line-height: 1.7;
  }

  &-secondary {
    border-color: $graphite-dark;
    color: $graphite-dark;

    &:active,
    &.active,
    &:focus,
    &.focus,
    &:hover,
    &.hover {
      border-color: $graphite-light;
      background: $graphite-light;
      color: white;
    }

    &.disabled,
    &:disabled {
      &:hover,
      &.hover {
        color: $graphite-dark;
      }
    }
  }

  &-black {
    border-color: $graphite-dark;
    background: $graphite-dark;

    &:active,
    &.active,
    &:focus,
    &.focus,
    &:hover,
    &.hover {
      border-color: $gray-dark;
      background: $gray-dark;
    }
  }

}