@media (max-width: 768px) {
  .container {
    width: auto !important;
  }

  .onboarding {
    padding-top: 0 !important;

    .heading {
      font-size: 1.6rem;
      line-height: 1.3;
    }

    .wrapper {
      display: block !important;
      padding-top: 1.5rem !important;

      & > div {
        display: block !important;
      }

      .card {
        display: block !important;
        width: 100% !important;
        margin-bottom: 30px;
      }

      .offset {
        display: none !important;
      }
    }

  }
}

.dashboard-summary {

  .notification-icon {
    font-size: 25px;
  }

  .card {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    padding: 30px;

    @media (max-width: 520px) {
      display: block;
      width: 100%;
    }

    &.hidden {
      border: none;

      * {
        display: none;
      }

    }

    &.disabled {

      h3, p {
        color: #999;
      }

      .btn {
        pointer-events: none;
        cursor: default;
      }

    }

  }

  .card-offset {
    display: table-cell;
    width: 1.5em;
  }

  .card-row-wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;

    @media (max-width: 520px) {
      display: block;
    }

    & > div {
      display: table-row;

      @media (max-width: 520px) {
        display: block;
      }
    }
  }

  .btn-grey {
    background: rgba(176, 188, 192, 0.6);
    color: #fff;
  }
}

.opportunity-item {

  .score-cell {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    font-size: 14px;
    width: 140px;
  }

  .run-analysis-cell {
    padding-top: 0 !important;
    padding-bottom: 5px !important;
    font-size: 14px;
    width: 140px;

    .btn {
      padding-left: .5rem;
      padding-right: .5rem;
    }
  }

  .remove-op-cell {
    padding-top: 4px !important;
    cursor: pointer;

    i {
      color: #ccc;

      &:hover {
        color: #555;
      }
    }
  }
}
