
.disclosure {
  margin: 55px auto 32px;
  width: 100%;
}

.disclaimers,
.disclosure {
  & {
    margin-bottom: 16px;
    overflow: hidden;
  }

  &.-dark .content {
    background: $graphite-grayish-blue;
    border: none;
  }

  .content {
    border: 1px solid $graphite-grayish-blue;
    padding: 16px;
    font-size: 13px;
    font-weight: 300;
    color: $graphite-light;
    margin-bottom: 16px;
  }

  .title {
    font-size: inherit;
    font-weight: inherit;
    margin-bottom: 20px;
    color: inherit;
  }

  p {
    font-size: inherit;
    font-weight: inherit;
    margin-bottom: 16px;
    color: inherit;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  a {
    text-decoration: none;
    color: $primary-normal;
  }
}
