.question-control {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;

  &.question-input {
    input {
      border: none;
      border-bottom: 2px dashed $brand-primary;
      width: 90px;
      text-align: center;

      &:focus {
        outline: none;
      }
    }
  }

  &.question-control-invalid {
    input {
      border-color: red;
    }
  }

  &.question-select {
    .c-select-wrap {
      &:after {
        top: 20px;
      }
    }

    .c-select {
      padding-top: 0;
      border: none;
      border-bottom: 2px dashed $brand-primary;
      border-radius: 0;
      font-size: 26px;
      color: $gray-dark;
    }
  }

  &.question-input,
  &.question-select {
    .text-danger {
      color: #fff !important;
      background: red;
      font-size: 14px;
      position: absolute;
      padding: 5px;
      border-radius: 4px;
      box-shadow: 0 1px 2px #999;
      cursor: pointer;

      &:hover {
        opacity: 0.2;
      }
    }
  }
}

.question-radio {
  font-size: 18px;

  .question-radio-item {
    vertical-align: top;
    width: 150px;
    display: inline-block;
    margin-right: 15px;
  }

  .question-radio-item:last-child {
    margin-right: 0;
  }

  &-btns {
    .btn {
      min-width: 24%;
      padding-left: 1rem;
      padding-right: 1rem;
      border-radius: 0;
      text-transform: none;

      @media (max-width: 1650px) {
        min-width: initial;
        white-space: normal;

        &:not(:last-child) {
          margin-right: .5rem;
        }
      }
    }

    .risk-lvl {
      &:hover,
      &:focus,
      &:active,
      &.focus,
      &.active {
        color: #fff;
      }

      @each $risk-level, $risk-color in $risk-dashboard-badges {

        &-#{$risk-level} {
          border-color: #{$risk-color};

          &.focus,
          &.active,
          &:hover {
            background: #{$risk-color};
          }
        }
      }
    }
  }
}

.prism-questions-container {
  padding-left: 216px;

  .prism-questions-card {
    min-width: 1000px;
    width: 90%;
    margin: 30px auto 0;
    background: #fff;
    box-shadow: 0 1.5px 3.5px 0 rgba(136, 136, 136, 0.1), 0 1.5px 3.5px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 0 0 46px;

    .prism-questions-progress {
      line-height: 1px;
    
      .progress-item {
        height: 7px;
        display: inline-block;

        &.progress-item-active {
          background: #39E4FD;
        }
      }
    }

    .multi-step-view {
      padding: 41px 40px 0;
    }

    .question-heading {
      font-size: 20px;

      .answer {
        color: #09acf8;
        border-bottom: 1px dashed #09acf8;
      }

      span.question-number {
        color: #7C8C94;
      }
    }

    .question-description {
      width: 770px;
      margin: 0 auto;
      margin-top: 30px;
      color: #7C8C94;
    }

    .prism-questions-birthday-retirement-container {
      width: 515px;
      margin: 60px auto;

      .birthday-container,
      .retirement-container {
        background-color: #EBEEEF;
        padding: 30px 50px;

        h4 {
          font-size: 20px;
        }

        fieldset {
          display: inline-block;
          margin-right: 5px;
          vertical-align: bottom;

          &:last-of-type {
            margin-right: 0;
          }

          .form-group {
            margin-bottom: 0;
          }

          select,
          input {
            border: 1px solid #CCCED3;
            background: #fff;
            height: 48px;
          }

          input {
            line-height: 48px;
            padding-left: 10px;
            padding-right: 0;

            &:focus {
              outline: none;
            }
          }
        
          .day {
            width: 68px;
          }

          .year {
            width: 80px;
          }
        }
      }

      .birthday-container {
        margin-bottom: 5px;
        
        .c-select-wrap {
          width: 244px;
          position: relative;

          &:before,
          &:after {
            content: '';
            position: absolute;
            width: 0; 
            height: 0; 
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
          }

          &:before {
            border-bottom: 7px solid #000;
            top: 15px;
            right: 12px;
          }

          &:after {              
            border-top: 7px solid #000;
            top: 25px;
            right: 12px;
          }
          
          select.c-select.month {
            min-width: 244px;
            width: 244px;
            border-radius: 0;
          }
        }
      }

      .retirement-container {

        h4 {
          width: 248px;
          display: inline-block;
          line-height: 48px;
          margin-bottom: 0;
        }

        input {
          width: 158px;
        }
      }
    }

    .prism-questions-range-container {
      margin: 80px 160px 180px;

      &.prism-questions-range-prism-color-slider {
        margin-bottom: 50px;
        user-select: none;
      }

      &.prism-questions-range-container-with-caption {
        margin: 80px 160px 40px;
      }

      .risk-labels {
        position: relative;
        height: 0;

        .red,
        .green {
          position: absolute;
          top: -50px;
        }

        .red {
          left: -40px;
          color: #EA0303;
        }

        .green {
          right: -45px;
          color: #4EB63D;
        }
      }

      .caption {
        text-align: center;
        font-size: 30px;
        color: #09acf8;
        margin-top: 140px;
      }

      .chart-container {
        display: flex;
        justify-content: space-between;

        .investment-legend {
          display: flex;
          flex-direction: column;
          width: 280px;
          justify-content: flex-end;
          padding-bottom: 20px;
          text-align: center;

          h2 {
            border: 1px solid #DBE2E5;
            border-bottom: none;
            margin: 0;
            padding: 10px;
            font-size: 60px;
          }

          span {
            border: 1px solid #DBE2E5;
            padding: 10px;
          }
        }
      }
    }

    // .prism-questions-range-prism-color-slider {
    //   .range-input {
    //     background: linear-gradient(90deg, #C93539 0%, #FAA502 52.56%, #4EB63D 100%);
    //   }
    // }

    .prism-questions-action {

      .btn {
        width: 207px;
        line-height: 42px;
        height: 60px;
        font-size: 20px;
      }

      .btn-link {
        font-size: 16px;
        color: #7C8C94;

        &:focus {
          outline: none;
        }
      }
    }

    .asset-classes-container {
      padding: 50px 0;
      max-width: 770px;
      margin: 0 auto;
      padding-left: 50px;
      
      .asset-classes-choice {
        margin: 0 auto;
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 0;
        }

        input[type="text"] {
          border: none;
          border-bottom: 1px solid #777;
          margin-left: 30px;

          &:focus {
            outline: none;
          }
        }

        .c-input.c-checkbox {
          margin-right: 25px;
          vertical-align: middle;
          width: 30px;
          height: 30px;
          display: inline-block;
          margin-bottom: 0;

          .c-indicator.icon-checkmark {
            width: 30px;
            height: 30px;
            box-shadow: none;
          }
        }

        .asset-classes-choice-title {
          display: inline-block;
        }
      }
    }

    .single-stock-limit-container {
      width: 300px;
      margin: 60px auto 30px;
      position: relative;

      .current-value {
        position: absolute;
        font-size: 60px;
        color: #09acf8;
        z-index: 100;
        width: 150px;
        text-align: center;
        top: 100px;
        left: 75px;
      }

      .single-stock-limit-chart {
        width: 300px;
        height: 300px;
        margin-bottom: 50px;
      }

      .tip {
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 30px;
      }
    }
  }
}

.prism-questions-begin-container {

  .prism-questions-begin {
    padding: 40px 40px 46px;

    .prism-questions-begin-scores {

      & > div {
        display: inline-block;
        vertical-align: middle;
      }

      .gauge-container {
        width: 300px;
        height: 250px;

        & > div {
          height: 250px;
        }

        & > h4 {
          font-weight: lighter;
        }
  
        & > .low {
          color: #66CB33;
        }
  
        & > .high {
          color: #C7393D;
        }
      }

      & > .prism-questions-begin-scores-dots {
        margin-left: 16px;
        margin-right: 16px;

        .prism-questions-begin-scores-dot {
          display: inline-block;
          background-color: #D3D6DB;
          width: 13px;
          height: 13px;
          border-radius: 1px;
          margin-right: 8px;

          &:last-of-type {
            margin-right: 0;
          }
        }
      }

      .score-card {
        padding-right: 0;
      }
    }

    .prism-questions-begin-get-started {
      margin-top: 120px;
    }
  }
}

// .range-input.risk-range-input {
//   background: linear-gradient(270deg, #4EB63D 0%, #FAA502 52.56%, #EA0303 100%);

//   &:before {
//     background: #EA0303;
//   }

//   &:after {
//     background: #4EB63D;
//   }
// }

.prism-questions-range-container {
  .range-input {
    background: #4eb73a; /* Old browsers */
    background: -moz-linear-gradient(left, #eb0000 0%, #faa500 51%, #4eb73a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #eb0000 0%, #faa500 51%, #4eb73a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #eb0000 0%, #faa500 51%, #4eb73a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb0000', endColorstr='#4eb73a',GradientType=1 ); /* IE6-9 */
  }
}

.prism-questions-range-prism-color-slider {
  .range-input {
    background: #d3d6d9; /* Old browsers */
    margin-bottom: 60px;
  }
}

.prism-questions-range-container-with-caption {
  .range-input {
    background: #D4D7DC;
  }
}

.risk-labels {
  top: -40px;
  width: 106%;
  .left, .right {
    color: #394346;
  }
  .left {
    margin-left: -40px;
  }
  .right {
    margin-left: 86.5%;
  }
}

@media screen and (max-width: 1643px) {
  .risk-labels {
    .right_red {
      margin-left: 78.5%;
    }
    .right_green {
      margin-left: 85.5%;
    }
  }
}

@media screen and (max-width: 1432px) {
  .risk-labels {
    .right_green {
      margin-left: 82.5%;
    }
  }
}

.show_selected_value {
  position: relative;
  width: 200px;
  margin-top: 100px;
  margin-left: 50%;
  height: auto;
  padding: 24px 36px;
  border: 1px solid #dbe2e5;
  left: -100px;
  span {
    font-size: 60px;
    color: #282828;
    font {
      font-size: 24px;
    }
  }
}