.tooltip {
  &-inner {
    padding: $tooltip-padding;
    font-size: $font-size-h6;
    text-align: left;
  }
}

.tooltipR {
  position: relative;
  display: inline-block;
}

.tooltipR .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 110%;
  left: 50%;
  margin-left: -60px;
}

.tooltipR .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltipR:hover .tooltiptext {
  visibility: visible;
}

.treemap-tooltip {
  background: rgba(0, 0, 0, .55);
  transform: translateY(calc(-50% - 15px));
  padding: 10px;
  color: #fff;
  font-size: 11px;

  &:after {
    content: "";
    position: absolute;
    bottom: calc(50% - 5px);
    left: -5px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, .55) transparent transparent;
  }
}