body {
  padding-bottom: 0 !important;
}

body,
p,
td {
  font-weight: 300;
}

body {
  background-color: $body-background;
}

.b {
  &-dashed {
    border-style: dashed !important;
  }

  &-dotted {
    border-style: dotted !important;
  }

  &-a-1 {
    border-width: 1px;
    border-left-color: $card-border-color;
  }

  &-l-2 {
    border-width: 0;
    border-left-width: 2px !important;
    border-left-color: $card-border-color;
    border-left-style: solid;
  }

  &-r-2 {
    border-width: 0;
    border-right-width: 2px !important;
    border-right-color: $card-border-color;
    border-right-style: solid;
  }

  &-t-2 {
    border-width: 0;
    border-top-width: 2px !important;
    border-top-color: $card-border-color;
    border-top-style: solid;
  }

  &-b-2 {
    border-width: 0 !important;
    border-bottom-width: 2px !important;
    border-bottom-color: $card-border-color !important;
    border-bottom-style: solid !important;
  }

  &-l-1 {
    border-width: 0;
    border-left-width: 1px !important;
    border-left-color: $card-border-color;
    border-left-style: solid;
  }

  &-r-1 {
    border-width: 0;
    border-right-width: 1px !important;
    border-right-color: $card-border-color;
    border-right-style: solid;
  }

  &-t-1 {
    border-width: 0;
    border-top-width: 1px !important;
    border-top-color: $card-border-color;
    border-top-style: solid;
  }

  &-b-1 {
    border-width: 0 !important;
    border-bottom-width: 1px !important;
    border-bottom-color: $card-border-color !important;
    border-bottom-style: solid !important;
  }

  &-l-0 {
    border-left-width: 0 !important;
  }

  &-r-0 {
    border-right-width: 0 !important;
  }

  &-t-0 {
    border-top-width: 0 !important;
  }

  &-b-0 {
    border-bottom-width: 0 !important;
  }
}
.p {
  &-t-half {
    padding-top: .5em !important;
  }

  &-b-half {
    padding-bottom: .5em !important;
  }

  &-l-half {
    padding-left: .5em !important;
  }

  &-r-half {
    padding-right: .5em !important;
  }
}

.m {
  &-t-half {
    margin-top: .5em !important;
  }

  &-b-half {
    margin-bottom: .5em !important;
  }

  &-l-half {
    margin-left: .5em !important;
  }

  &-r-half {
    margin-right: .5em !important;
  }

  &-a-n-1 {
    margin: ($grid-gutter-width / -2);
  }

  &-x-n-1 {
    margin-left: ($grid-gutter-width / -2);
    margin-right: ($grid-gutter-width / -2);
  }

  &-y-n-1 {
    margin-top: ($grid-gutter-width / -2);
    margin-bottom: ($grid-gutter-width / -2);
  }

  &-l-n-1 {
    margin-left: ($grid-gutter-width / -2);
  }

  &-r-n-1 {
    margin-right: ($grid-gutter-width / -2);
  }

  &-t-n-1 {
    margin-top: ($grid-gutter-width / -2);
  }

  &-b-n-1 {
    margin-bottom: ($grid-gutter-width / -2);
  }
}

.link {
  cursor: pointer;

  &-colorless {
    color: inherit;
  }

  &-decorless {
    &:hover {
      text-decoration: none;
    }
  }

  &-dashed,
  &-dashed:hover {
    border-bottom: 1px dotted;
    text-decoration: none;
  }
}

.bg {
  &-clear {
    background-color: #fff;
  }

  &-icon {
    padding: 0.6em 0.7em;
    @include border-radius(100em);
  }

  &-inverse,
  &-primary,
  &-success,
  &-info,
  &-warning,
  &-danger {
    .btn-muted {
      border: none;
    }
  }
}

.hr {
  &-dash {
    display: inline-block;
    width: 1.5em;
    border-width: 0.3em;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.15em;
    margin-right: 0.5em;
    vertical-align: middle;
  }

  &-white {
    border-color: #fff;
  }

  &-primary {
    border-color: $brand-primary;
  }

  &-success {
    border-color: $brand-success;
  }

  &-info {
    border-color: $brand-info;
  }

  &-warning {
    border-color: $brand-warning;
  }

  &-danger {
    border-color: $brand-danger;
  }

  &-graphite {
    border-color: $graphite; /* or $graphite-dark? */
  }

  &-primary-muted {
    border-color: $brand-primary-muted;
  }

  &-success-muted {
    border-color: $brand-success-muted;
  }

  &-danger-muted {
    border-color: $brand-danger-muted;
  }
}

ul,
ol {
  padding-left: 1.2em; /* a-la zero left padding */
}
