.table {
  th,
  td {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }

  td {
    color: $gray-darkest;

    &.image {
      padding: .65rem;

      img {
        margin-right: .6rem;
      }
    }

    &.select {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    &.actionable {
      position: relative;

      a {
        position: absolute;
        top: 50%;
        right: 1.2rem;
        transform: translateY(-50%);
      }
    }
  }

  &.two-cells {
    th,
    td {
      width: 50%;
    }
  }

  th {
    font-weight: normal;
  }

  thead {
    td,
    th {
      border-top: none;
    }

    th {
      font-size: $font-size-sm;
      font-weight: 600;
      letter-spacing: 1.6px;
    }
  }

  .text-success {
    color: $table-brand-success !important;
  }

  &-borderless {
    border: none !important;

    &-top {
      border-top: none;

      tr {
        &:first-child {
          th,
          td {
            border-top: none;
          }
        }
      }
    }

    &-bottom {
      border-bottom: none;

      tbody {
        tr {
          &:last-child {
            td {
              border-bottom: none;
            }
          }
        }
      }
    }

    &-side {
      border-left: none;
      border-right: none;

      tr {
        td,
        th {
          &:first-child {
            border-left: none;
          }

          &:last-child {
            border-right: none;
          }
        }
      }
    }

    tr {
      &:first-child {
        th,
        td {
          border-top: none;
        }
      }

      td,
      th {
        &:first-child {
          border-left: none;
        }

        &:last-child {
          border-right: none;
        }
      }
    }

    tbody {
      tr {
        &:last-child {
          td {
            border-bottom: none;
          }
        }
      }
    }
  }

  .tr {
    &-middle {
      > {
        th,
        td {
          vertical-align: middle;
        }
      }
    }
  }

  .tr,
  .td {
    &-clickable {
      cursor: pointer;
    }

    &-non-clickable {
      cursor: inherit;
    }
  }

  label {
    margin-bottom: 0;
  }
}

.thead {
  &-graphite {
    th {
      color: #fff;
      background-color: $graphite-light;
    }
  }
}
