.dropdown {
  &-toggle {
    &:after {
      content: none;
    }

    i {
      display: inline-block;
      font-size: .45rem;
      line-height: 1.1rem;
      color: $brand-primary;

      .input-group & {
        line-height: .9rem;
      }
    }

    &.btn {
      min-width: 250px;
      line-height: 1.15;

      .form-group &,
      .table & {
        min-width: 180px;
      }

      .input-group & {
        min-width: initial;
      }

      &.btn-muted {
        border-color: $graphite-grayish-blue;
      }
    }
  }

  &.dropdown-two-line {
    .dropdown {
      &-toggle {
        padding-top: 0;
        padding-bottom: 0;

        span {
          display: block;

          &:not(.icon-arrow) {
            line-height: 1em;

            &:first-child {
              margin-top: 5px;
              letter-spacing: 1.1px;
            }
          }

          &:nth-child(2) {
            font-size: 10px;
            letter-spacing: 0;
          }
        }

        .icon-arrow {
          font-size: .45rem;
        }
      }

      &-item {
        opacity: .6;
        color: $graphite-dark;
        letter-spacing: 1.3px;
        text-transform: uppercase;

        &:hover,
        &:focus,
        &:active,
        &.active {
          opacity: 1;
          background-color: transparent;
          text-decoration: none;
        }
      }
    }
  }

  &-title {
    .dropdown {
      &-toggle {
        padding: 0;
        min-width: initial;
        color: $graphite-dark;

        i {
          margin-left: 1rem;
          font-size: .8rem;
        }
      }

      &-menu {
        min-width: 230px;
      }
    }
  }

  &.open {
    &.dropdown-two-line {
      .dropdown-toggle {
        background: #ddd;
      }
    }

    .dropdown-toggle {
      i {
        transform: rotate(180deg);
      }
    }
  }

  &-menu {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, .2);

    .navbar-nav & {
      width: 100%;
      @include border-top-radius(0);
      @include border-bottom-radius($border-radius);
    }
  }

  &-item {
    color: $graphite-grayish-dark;
    font-weight: 300;
    line-height: 2.8em;

    & + & {
      border-top: 1px solid  $graphite-lighter;
    }

    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: rgba(124, 140, 148, 0.1);
      text-decoration: none;
    }
  }

  &-group {
    box-shadow: 0 1px 1px rgba(black, .25);

    .dropdown {
      &:first-child {
        .dropdown-label {
          border-radius: 3px 0 0 3px;
        }
      }

      &:last-child {
        .dropdown-label {
          border-radius: 0 3px 3px 0;
        }
      }

      &-toggle {
        border: none;
        background: $dropdown-link-hover-bg;
        border-radius: 0;
        box-shadow: 0 1px 1px rgba(black, .25);
        z-index: 2;

        i {
          margin-right: 1rem;
          font-size: .5rem;
          color: $gray-darkest;
        }
      }

      &-label {
        background: #fafafa;
        color: $graphite-dark;
        border-radius: 0;
      }

      &-item {
        border-color: $graphite-grayish-blue;
      }
    }

    .open {
      .dropdown {
        &-toggle {
          background: $dropdown-link-hover-bg;

          &:hover,
          &:focus,
          &:active,
          &.active {
            background-color: $dropdown-link-hover-bg;
            border-color: #adadad;
            background-image: none;
          }
        }

        &-menu {
          border: none;
          background: $dropdown-link-hover-bg;
          border-radius: 0;
        }
      }
    }
  }

  &-flat {
    background: $graphite-grayish-blue3;
  }
}