.dropdown {
  &-toggle {
    &:after {
      content: none;
    }

    .icon-arrow {
      display: inline-block;
      font-size: .45rem;
      line-height: 1.1rem;
      color: $brand-primary;

      .input-group & {
        line-height: .9rem;
      }
    }

    &.btn {
      min-width: 250px;
      line-height: 1.15;

      .form-group &,
      .table & {
        min-width: 180px;
      }

      .input-group & {
        min-width: initial;
      }

      &.btn-muted {
        border-color: $graphite-grayish-blue;
      }
    }
  }

  &.dropdown-two-line {
    .dropdown {
      &-toggle {
        padding-top: 0;
        padding-bottom: 0;

        span {
          display: block;

          &:not(.icon-arrow) {
            line-height: 1em;

            &:first-child {
              margin-top: 5px;
              letter-spacing: 1.1px;
            }
          }

          &:nth-child(2) {
            font-size: 10px;
            letter-spacing: 0;
          }
        }

        .icon-arrow {
          font-size: .45rem;
        }
      }

      &-item {
        opacity: .6;
        color: $graphite-dark;
        letter-spacing: 1.3px;
        text-transform: uppercase;

        &:hover,
        &:focus,
        &:active,
        &.active {
          opacity: 1;
          background-color: transparent;
          text-decoration: none;
        }
      }
    }
  }

  &-title {
    .dropdown {
      &-toggle {
        padding: 0;
        min-width: initial;
        color: $graphite-dark;

        i {
          margin-left: 1rem;
          font-size: .8rem;
        }
      }

      &-menu {
        min-width: 230px;
      }
    }
  }

  &.open {
    &.dropdown-two-line {
      .dropdown-toggle {
        background: #ddd;
      }
    }

    .dropdown-toggle {
      .icon-arrow {
        transform: rotate(180deg);
      }
    }
  }

  &-menu {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, .2);

    .navbar-nav & {
      width: 100%;
      @include border-top-radius(0);
      @include border-bottom-radius($border-radius);
    }

    &-membership {
      top: calc(100% + 1rem);
      left: auto;
      right: 0;
      padding: 1rem;
      width: 560px;
      color: #fff;
      background: rgba(#003855, .95);
      border: none;
      box-shadow: 0 0 4px 1px rgba(#003855,.95);

      a {
        font-size: .85rem;

        &:hover {
          color: rgba($brand-primary, .8);
        }
      }

      .icon-arrow {
        display: inline-block;
        position: relative;
        top: -1px;
        margin-left: 5px;
        font-size: .35rem;
        transform: rotate(-90deg);
      }

      .membership-list {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          position: relative;
          width: 25%;
          text-align: center;

          &:before,
          &:after {
            content: '';
            position: absolute;
            top: 1.05rem;
            width: 50%;
            height: 1px;
            background: #d9d8d8;
          }

          &:before {
            left: 0;
          }

          &:after {
            right: 0;
          }

          &:first-child {
            &:before {
              display: none;
            }
          }

          &:last-child {
            &:after {
              display: none;
            }
          }

          .icon-wrap {
            display: flex;
            align-items: center;
            margin-bottom: .85rem;
            height: 36px;
          }

          span {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            border-radius: 50%;
            z-index: 2;

            &.icon {
              &-lock {
                font-size: 1.25rem;
              }
            }
          }

          &.silver {
            .icon {
              width: .875rem;
              height: .875rem;
              background: #fff;
              border-radius: 50%;
            }
          }

          &.gold {
            .icon {
              width: 1.65rem;
              height: 1.65rem;
              background: #fff;
              color: $brand-primary;
            }
          }

          &.platinum {
            p {
              color: #89b0cd;
            }

            .icon {
              width: 2.2rem;
              height: 2.2rem;
              background: $brand-primary;
              color: #fff;
            }
          }

          &.saphire {
            p {
              color: #89b0cd;
            }

            .icon {
              width: 2.875rem;
              height: 2.875rem;
              background: $brand-primary;
              color: #fff;
            }
          }
        }

        p {
          margin-bottom: 0;
          font-size: .875rem;
          font-weight: 300;
          line-height: 1.3;
          color: #fefefe;

          &.title {
            font-weight: 700;
            color: #fff;
          }
        }
      }

      .top-arrow {
        overflow: hidden;
        position: absolute;
        top: -80px;
        right: 3.5rem;
        width: 80px;
        height: 80px;

        &:after {
          content: "";
          position: absolute;
          width: 40px;
          height: 40px;
          background: rgba(#003855, .95);
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          top: 75px;
          left: 13px;
          box-shadow: 0 0 4px 1px rgba(#003855,.95);
        }
      }
    }
  }

  &-item {
    color: $graphite-grayish-dark;
    font-weight: 300;
    line-height: 2.8em;

    & + & {
      border-top: 1px solid  $graphite-lighter;
    }

    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: rgba(124, 140, 148, 0.1);
      text-decoration: none;
    }
  }
  &-item-new {
    width: 390px;
    color: $graphite-grayish-dark;
    font-weight: 300;
    line-height: 2.8em;
    padding-left: 35px;
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: rgba(124, 140, 148, 0.1);
      text-decoration: none;
    }
  }

  &-group {

    .dropdown {
      &:first-child {
        .dropdown-label {
          border-radius: 3px 0 0 3px;
        }
      }

      &:last-child {
        .dropdown-label {
          border-radius: 0 3px 3px 0;
        }
      }

      &-toggle {
        border: none;
        background: $dropdown-link-hover-bg;
        border-radius: 0;
        box-shadow: 0 1px 1px rgba(black, .25);
        z-index: 2;

        i {
          margin-right: 1rem;
          font-size: .5rem;
          color: $gray-darkest;
        }
      }

      &-label {
        background: #fafafa;
        color: $graphite-dark;
        border-radius: 0;
        box-shadow: 0 1px 1px rgba(0,0,0,.25);
      }

      &-item {
        border-color: $graphite-grayish-blue;
      }
    }

    .open {
      .dropdown {
        &-toggle {
          background: $dropdown-link-hover-bg;

          &:hover,
          &:focus,
          &:active,
          &.active {
            background-color: $dropdown-link-hover-bg;
            border-color: #adadad;
            background-image: none;
          }
        }

        &-menu {
          border: none;
          background: $dropdown-link-hover-bg;
          border-radius: 0;
        }
      }
    }
  }

  &-flat {
    .btn {
      border-color: $dropdown-link-hover-bg;
      background: $dropdown-link-hover-bg;
      color: $graphite-dark;
      box-shadow: 0 1px 1px rgba(black, .25);

      &:hover,
      &:focus,
      &:active {
        border-color: $dropdown-link-hover-bg;
        background: $dropdown-link-hover-bg;
        color: $graphite-dark;
        outline: none;
        box-shadow: 0 0 8px rgba(black,.5);
      }
    }

    &.open {
      .btn,
      .dropdown-menu {
        box-shadow: 0 0 8px rgba(black,.5);
      }

      .btn {
        border-color: $dropdown-link-hover-bg;
        background: $dropdown-link-hover-bg;
        color: $graphite-dark;

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 1001;
          height: 10px;
          background: $dropdown-link-hover-bg;
        }
      }

      .dropdown-menu {
        border: none;
        background: $dropdown-link-hover-bg;
        border-top-right-radius: 0;
      }
    }
  }
}

.dropdown-group {
  display: inline-block;

  .dropdown-group--item {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 15px;

    label {
      display: block;
      margin: 0;
      font-size: 13px;
      color: #777;
      margin-bottom: 5px;
    }

    .c-select-wrap {
      background: #fff;
      border-radius: 3px;

      &:after {
        top: 15px;
        right: 11px;
      }

      .c-select {
        min-width: 200px;
      }

      select {
        height: 38px;
      }
    }
  }
}

span.dropdown-group-arrow,
span.dropdown-group-calendar {
  margin-left: 10px;
  margin-right: 10px;
  color: #777;
}

span.dropdown-group-arrow {
  font-size: 10px;
}

.dropdown-toggle .dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #aaa;
  border-radius: 50%;
  vertical-align: -2px;
  margin-right: 0 !important;
  margin-left: 10px !important;
}
