$button-size : 1.5rem;
$transition: .3s;

@mixin line {
  display: inline-block;
  width: $button-size;
  height: $button-size/7;
  background: #fff;
  border-radius: $button-size/14;
  transition: $transition;
}
 
.drawer-icon {
  display: inline-block;
  cursor: pointer;
  transition: $transition;
  user-select: none;
  border-radius: $button-size/7;
  background: $graphite-dark;
  padding: 0;
  border: none;
  margin-top: -10px;

  &:hover {
    opacity: 1;
  }

  &:focus {
    outline: none;
  }

  &:active {
    transition: none;
  }

  &.x {

    .lines {
      background: transparent;

      &:before, &:after {
        transform-origin: 50% 50%;
        top: 0;
        width: $button-size;
      }

      &:before {
        transform: rotate3d(0, 0, 1, 45deg);
      }

      &:after {
        transform: rotate3d(0, 0, 1, -45deg);
      }
    }

  }

  .lines {
    @include line;
    position: relative;

    &:before, &:after {
      @include line;
      position: absolute;
      left: 0;
      content: '';
      transform-origin: $button-size/14 center;
    }

    &:before {
      top: .5rem;
    }

    &:after {
      top: -.5rem;
    }
  }
}

.navigation-left-bar {
  position: absolute;
  width: 180px;
  height: 101vh;
  top: 4.6rem;
  background: #6f797c;
  z-index: 5;
  box-shadow: 1px 0 4px #555;

  &.shown {
    transition: all .3s ease-in;
    left: 0;
    width: 180px;
  }

  &.hidden {
    transition: .3s ease-out left;
    left: -180px;
  }

  &.collapsed {
    transition: .3s ease-out width;
    left: 0;
    width: 70px;

    a span {
      display: none;
    }
  }

  & > div {
    width: inherit;
    position: fixed;
    height: 101%;
    background: #6f797c;
    border-right: 1px solid #000;

    a {
      display: block;
      text-align: center;
      padding: 20px 0;
      color: #fff;
      border-bottom: 1px solid #4b5355;

      &:hover {
        background: #7f898c;
      }

      &.active {
        background: $brand-primary;
      }

      & > i {
        display: block;
        font-size: 27px;
        margin-bottom: 5px;
      }
    }
  }
}