.nav {
  &-tabs,
  &-pills {
    &-center {
      > .nav-item {
        float: none;
        display: inline-block;
      }
    }
  }

  &-tabs {
    &-center {
      text-align: center;
    }

    &-bordered {
      .nav-link {
        color: inherit;
        padding-left: 0;
        padding-right: 0;
        border: none;
        @include border-radius(0);
        border-bottom: 4px solid transparent !important;

        &:focus,
        &:hover {
          color: $brand-primary;
        }
      }

      .nav-item {
        + .nav-item {
          margin-left: $grid-gutter-width;
        }
      }
    }

    &-dashboard {
      display: flex;
      justify-content: space-between;
      border-bottom: none;

      > .nav-item {
        width: 25%;
        text-align: left;
      }

      .nav-link {
        padding: .5em .75em;
        background: $royal-opacity;
        color: #fff;
        border: none;
        border-radius: 0 0 4px 4px;

        &:hover,
        &:focus {
          color: $light-green;
        }

        &.active {
          background: $royal;
          color: $light-green;

          &:focus,
          &:hover {
            background: $royal;
            color: $light-green;
          }
        }
      }
    }
  }
}

.tab {
  &-content {
    &-dashboard {
      padding: 1.7rem 0;
      background: $royal;

      .tab-pane {
        p {
          margin-bottom: 0;
        }
      }
    }
  }
}

// TODO Refactor this part
.nav-tabs-bordered .nav-link.active,
.nav-tabs-bordered .nav-link.active:focus,
.nav-tabs-bordered .nav-link.active:hover,
.nav-tabs-bordered .nav-item.open .nav-link,
.nav-tabs-bordered .nav-item.open .nav-link:focus,
.nav-tabs-bordered .nav-item.open .nav-link:hover {
  font-weight: 400; /* normal */
  border-bottom-color: $brand-primary !important;
}
