@import '../../../bower_components/font-awesome/scss/_icons';

.pagination {
    & {
        list-style: none;
        margin: 0;
    }

    &:first-of-type {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .item {
        display: inline-block;
    }

    .item .link {
        color: $graphite-dark;
        font: 16px $font-family-sans-serif;
        margin-right: 10px;
        transition: color, bold 0.3s ease;

        &:hover {
            color: $graphite-light;
        }

        &.active {
            font-weight: bold;
            text-decoration: underline;
        }

        i {
            font-size: 13px;
        }
    }
}