.risk-analysis {
  margin-left: 70px;

  h1 {
    font-size: 36px;
    font-weight: bold;
  }

  h3 {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 0;
  }

  .risk-analysis-header {
    padding-top: 4rem;
    padding-bottom: 4rem;
    width: 1000px;
    margin: 0 auto;

    .btn {
      font-size: 14px;
      padding: .75rem 1.25rem;

      &.passed {
        background: #00c538;
        border-color: #00c538;
      }
    }

    .step {
      display: inline-block;
      width: 47.5%;

      &.step-date-range {
        vertical-align: top;
      }

      .step-num {
        font-weight: bold;
      }

      &:first-child {
        margin-right: 5%;
      }

      .step-line {
        height: 5px;
        margin-top: 10px;
      }

      &.active {

        .step-num {
          color: $brand-primary;
        }

        .step-line {
          background: $brand-primary;
        }

      }

      &.disabled {
        color: #aaa;

        .step-line {
          background: #aaa;
        }

      }

      &.passed {

        .step-num {
          color: #00c538;
        }

        .step-line {
          background: #00c538;
        }

      }
    }
  }

  .risk-analysis-body {
    background: #f1f1f1;
    min-height: 600px;
    padding-top: 4rem;

    .risk-analysis-body-container {
      width: 1060px;
      margin: 0 auto;
      padding-bottom: 45px;

      .placeholder-text {
        padding-top: 140px;
        color: #999;
      }

      .card {
        border-radius: 7px;
        box-shadow: 0 0 3px #ccc;
        margin-right: 10px;
        border: none;
      }

      .risk-analysis-overview {

        .small-risk-score-cards {
          margin-top: -5px;
        }

        .overall-risk-score {
          padding-top: 12px;
          padding-bottom: 12px;

          @for $i from 1 through length($risk-levels) {
            $risk-level: nth($risk-levels, $i);

            &.risk-level-#{$i} {
              background: #{$risk-level};
            }
          }

          .score {
            text-align: center;
            font-size: 100px;
            font-weight: bold;
            text-shadow: 0 0 5px #ccc;
            color: #fff;
            line-height: 110px;
            padding: 0;
          }

          .caption {
            font-size: 17px;
            color: #fff;
            font-style: italic;
            text-align: center;
            padding-bottom: 22px;
          }
        }

        .overall-risk-text {
          padding: 10px 20px;
          width: 343px;

          .text-score {
            margin-bottom: 0;
            font-style: italic;
            font-size: 15px;

            @for $i from 1 through length($risk-levels) {
              $risk-level: nth($risk-levels, $i);

              &.risk-level-#{$i} {
                color: #{$risk-level};
              }
            }
          }

          .description {
            font-size: 14px;
          }
        }

          .choose-risk-result-container {

            .choose-risk-result-wrapper {
              padding-left: .35rem;
              padding-right: .35rem;

              .choose-risk-result {
                background: #394346;
                color: #fff;
                border-radius: 5px;
                padding: 0;
                cursor: pointer;

                .test-name {
                  text-align: center;
                  padding: 15px 0;
                  background: #fff;
                  box-shadow: 0 1.5px 3.5px 0 rgba(136, 136, 136, 0.1), 0px 1.5px 3.5px 0 rgba(0, 0, 0, 0.1);
                  border-top-left-radius: 5px;
                  border-top-right-radius: 5px;
                  color: #171717;

                  &.current {
                    background: $brand-primary;
                    color: #fff;
                  }
                }

                .test-scores {
                  padding: 15px 0;

                  .choose-risk-result-score {
                    display: inline-block;
                    width: 50%;
                    text-align: center;
                    font-size: 13px;

                    p {
                      margin-bottom: 5px;

                      &.score-value {
                        font-size: 30px;
                        font-weight: bold;

                        @for $i from 1 through length($risk-levels) {
                          $risk-level: nth($risk-levels, $i);

                          &-#{$i} {
                            color: #{$risk-level}
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
      }

      .risk-analysis-scorecards {

        .range-name {
          color: $brand-primary;
        }

        .score-card {
          max-width: 100% !important;
          width: 240px;
        }

        .risk-score-card {

          .card-chart {
            display: inline-block;
            vertical-align: top;
            padding: 15px 25px;
            width: 525px;
            margin-right: 0;
            margin-left: 5px;

            .card-chart-title {
              font-size: 14px;
              font-weight: bold;
            }
          }
        }

      }
    }

    .risk-analysis-cta {

      .gradient-line {
        background: linear-gradient(to left, #09bb00, #ffe400, #ec0000);
        height: 20px;
      }

      .cta-text {
        text-align: center;
        background: $brand-primary;
        padding: 30px 0;
        color: #fff;

        h3 {
          text-transform: uppercase;
          margin-bottom: 25px;
          font-weight: normal;

          i {
            font-weight: bold;
          }
        }

        button {
          color: $brand-primary;
          font-weight: bold;
          font-size: 18px;
          background: #fff;
          box-shadow: 0 3px 6px -1px #777;
        }

        p {
          font-size: 18px;

          a {
            color: #fff;
            text-decoration: underline;
          }
        }
      }
    }
  }

}