.advisor-profile-container > .filepicker.dropzone.dz-clickable {
  display: inline-block;
}

.investor-profile {

  .row.inline-labeled-input {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
  }

}
