.navbar {
  padding: 0 $navbar-min-height 0 $navbar-padding-horizontal;
  min-height: $navbar-min-height;

  &.no-user-pic {
    &:before,
    &:after {
      position: absolute;
    }

    &:before {
      content: '';
      top: 0;
      right: 0;
      width: $navbar-min-height;
      height: $navbar-min-height;
      background: $graphite-light;
    }

    &:after {
      content: "\e918";

      font-size: 40px;
      width: 4.6rem;
      line-height: 4.6rem;
      text-align: center;

      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;

      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  &.user-pic {
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: top right;
  }

  &:after {
    content: none;
  }

  @media (min-width: 769px) {
    &-toggler {
      display: none;
    }
  }

  .navbar-nav {
    .nav-item {
      @media (max-width: 768px) {
        &:not(.dropdown) {
          float: none;
          display: block;
        }
      }

      + .nav-item {
        margin-left: 0;

        &:not(.dropdown) {
          margin-left: $navbar-padding-horizontal * 2;

          @media (max-width: 768px) {
            margin-left: 0;
          }
        }
      }
    }

    .nav-link {
      text-transform: uppercase;
      font-weight: 200;
      letter-spacing: 1.3px;
      line-height: 1.77;
      font-size: $font-size-sm;
      color: $navbar-dark-color;
      opacity: 0.6;

      &.active,
      &.dropdown-toggle {
        opacity: 1;
      }

      &.dropdown-toggle {
        text-transform: none;
      }
    }
  }

  .navbar-brand {
    img {
      display: inline-block;
      width: 7rem;
      margin-right: .5rem;
    }
  }

  @media (max-width: 768px) {
    &-main {
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 10;
      background: $graphite-dark;
      text-align: center;

      &.collapse {
        display: none;

        &.in {
          display: block;
        }
      }
    }
  }

  &-static-top {
    &.bg-inverse {
      @include border-radius(0);
    }
  }
}
