.investors-list-view {
  width: 100%;

  .notification-toggle {
    background: red;
    color: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
  }

  .notification {
    background: #394346;
    color: white;
    margin-bottom: 4px;
    padding: 14px 15px 15px 19px;
    border: none;
  }

  .search {
    float: unset !important;
    margin-left: auto;
    padding: 20px 0;
  }

  .new-client {
    background: #D9F3FD;

    .header-button {
      background: #B1E4F7;
    }
  }

  .header-button {
    height: 31px;
    float: left;
    width: 100%;
  }

  .icon-arrow {
    float: right;
    margin-top: 6px;
    font-size: 10px;
  }
  .table .dropdown-menu {
    width: 100%;
    margin-top: 35px;
    .dropdown-item {
      line-height: 1.8em;
    }
  }
  .header .dropdown-menu {
    margin-top: -15px;
  }
  .dropdown-sort-icon {
    margin-top: 5px;
  }
  .table-expand-collapse {
    color: white;
    width: 22px;
    height: 22px;
    fontSize: 22px;
    padding: 0;
    lineHeight: 0;
    outline: None;
    border: 1px solid #394346;
  }
  .table-expand {    
    background: #09ACF8;
  }

  .table-collapse {
    background: #7C8C94;
  }
}