.panel-default .panel-heading.note-toolbar {
  border-bottom: 1px solid #a9a9a9;
}

.panel-body {
  font-size: 13px;
}

.note-popover {
  display: none;
}

.panel-heading {
  .btn {
    background: transparent;
  }
}