// custom BS and APP variables
// run "gulp sass" to compile
// (bootstrap supposed to be installed in ../vendor/bower_components/boostrap first)


// !!!IMPORTANT NOTE!!!
// ********************
// Please don't forget to add color variables into colors demo section at the docs page
// in case if you add new or change existing color variable here.
// ********************
// !!!IMPORTANT NOTE!!!

$enable-transitions:          true;

$body-background:             #f0f3f4;

$brand-primary:               #09acf8; // design v2
$brand-success:               #00cc0c; // ...
$brand-info:                  #31e3ff; // design v2
$brand-danger:                #ff002d; // rgb(255, 0, 45)

$link-hover-decoration:       none;
$font-family-sans-serif:      Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-weight:        400;
$headings-line-height:        1.5;
//$headings-color:            $graphite-dark;

// Custom colors
$gray-darkest:                #4a4a4a;
$gray-dark:                   #394346;
$gray-black:                  #171717;
$gray:                        #525c5f;
$gray-normal:                 #4d5658;

$primary-light:               #40c2fe;
$primary-normal:              #09adf9;
$primary-dark:                #0492d5;
$primary-darker:              #006999;

$success-light:               #2ae135;
$success-dark:                #02950a;
$graphite-dark:               #394346 !default; // rgb(57, 67, 70) // graphite
$graphite-trout:              #485357 !default;
$graphite-grayish-dark:       #45595f;
$graphite:                    #505e62 !default; // hex(194, 10, 35) // 45595f
$graphite-light:              #7c8c94 !default; // design v2
$graphite-gray:               #8f9192;
$graphite-grayish-blue:       #d3d6db;
$graphite-lighter:            #ebeeef !default; // hex(194, 10, 93)
$graphite-lightest:           #f6f8f9 !default; // rgb(246, 248, 249)
$brand-primary-muted:         #c3e9fe; // rgb(195, 233, 254)
$brand-success-muted:         #8fddc6; // rgb(143, 221, 198)
$brand-info-muted:            #c3ebfd; // design v2
$brand-danger-muted:          #d69a98; // rgb(217, 150, 150)

$border-color:                rgba(0, 0, 0, 0.2) !default;

$text-title-lg:               6.25rem;
$text-title-size-h1:          3.125rem;
$text-title-size-h1-mobile:   2.125rem;
$text-title-size-h2:          2.625rem;
$text-title-size-h3:          2rem;
$text-title-size-h5:          1.125rem;

// Buttons
$btn-font-weight:             300;
$btn-padding-x-xxxlg:         3rem !default; // for btn-title
$btn-padding-y-xxxlg:         1rem !default; // for btn-title

// Base border radius
$border-radius:               3px;
$border-radius-lg:            $border-radius;
$border-radius-sm:            $border-radius;
$border-radius-xs:            5px !default;

// Inputs
$input-border-color:          $graphite-grayish-blue;
$input-box-shadow:            inset 0 1px 3px 0 rgba(0, 0, 0, 0.15);

// Navbar
$navbar-dark-color:           #fff;
$navbar-padding-horizontal:   1.7rem;
$navbar-max-height:			      3.6rem;

// Tables
$table-outer-border-color:    rgba(176, 188, 192, 0.6) !default;
$table-border-color:          #e0e6e8;
$table-cell-padding:          1.5rem;
$table-brand-success:         #6fd760;

$table-primary-cell-padding:  .8rem;
$table-primary-border-color:  #e5e9ec;
$table-primary-hover-color:   $body-background;
$table-primary-box-shadow:    0 1px 2px 0 rgba(0, 0, 0, 0.1);
$th-primary-box-shadow:       0 1px 2px 0 rgba(0, 0, 0, 0.25);

// Tooltips
$tooltip-bg:                  $graphite-grayish-dark;
$tooltip-opacity:             1;
$tooltip-padding:             1.25rem;
$tooltip-max-width:           256px;
$tooltip-arrow-width:         10px;

// Spinner
$spinner-width: 3.75rem;

// Scores
$risk-level-10:               #f01600 !default;
$risk-level-9:                #f01600 !default;
$risk-level-8:                #ff8c00 !default;
$risk-level-7:                #ffa500 !default;
$risk-level-6:                #ffb733 !default;
$risk-level-5:                #ffe400 !default;
$risk-level-4:                #ff0 !default;
$risk-level-3:                #d5ff00 !default;
$risk-level-2:                #09bb00 !default;
$risk-level-1:                #09bb00 !default;

$risk-levels:                 $risk-level-1 $risk-level-2 $risk-level-3 $risk-level-4 $risk-level-5 $risk-level-6 $risk-level-7 $risk-level-8 $risk-level-9 $risk-level-10;

$risk-dashboard-badges:
                (1, #4eb63d),
                (2, #4eb63d),
                (3, #4eb63d),
                (4, #4eb63d),
                (5, #f7941d),
                (6, #f7941d),
                (7, #f7941d),
                (8, #c93539),
                (9, #c93539),
                (10, #c93539);

$risk-badge-size:             30px;


// Gold Dashboard
$light-green: #9afd1b;

$royal: #0664af;
$royal-light: #92dcf8;
$royal-opacity: #89b0cd;
$fgb: #c9ebf8;