// custom BS and APP variables
// run "gulp sass" to compile
// (bootstrap supposed to be installed in ../vendor/bower_components/boostrap first)


// !!!IMPORTANT NOTE!!!
// ********************
// Please don't forget to add color variables into colors demo section at the docs page
// in case if you add new or change existing color variable here.
// ********************
// !!!IMPORTANT NOTE!!!

$enable-transitions:          true;

$brand-primary:               #09acf8; // design v2
$brand-success:               #00cc0c; // ...
$brand-info:                  #31e3ff; // design v2
$brand-danger:                #ff002d; // rgb(255, 0, 45)

$link-hover-decoration:       none;
$font-family-sans-serif:      acumin-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-weight:        400;
$headings-line-height:        1.5;
//$headings-color:            $graphite-dark;

// Custom colors
$gray-darkest:                #4a4a4a;

$graphite-dark:               #394346 !default; // rgb(57, 67, 70) // graphite
$graphite-grayish-dark:       #45595f;
$graphite:                    #505e62 !default; // hex(194, 10, 35) // 45595f
$graphite-light:              #7c8c94 !default; // design v2
$graphite-grayish-blue:       #d3d6db;
$graphite-lighter:            #ebeeef !default; // hex(194, 10, 93)
$graphite-lightest:           #f6f8f9 !default; // rgb(246, 248, 249)

$brand-primary-muted:         #c3e9fe; // rgb(195, 233, 254)
$brand-success-muted:         #8fddc6; // rgb(143, 221, 198)
$brand-info-muted:            #c3ebfd; // design v2
$brand-danger-muted:          #d69a98; // rgb(217, 150, 150)

// Titles
$title-letter-spacing:        0.1rem;

$text-title-size-h1:                3.125rem;
$text-title-size-h2:                2.625rem;
$text-title-size-h3:                2rem;
$text-title-size-h5:                1.125rem;

// Buttons
$btn-font-weight:             300;

$btn-padding-x-xxxlg:         3rem !default; // for btn-title
$btn-padding-y-xxxlg:         1rem !default; // for btn-title

// Base border radius
$border-radius:               3px;
$border-radius-lg:            $border-radius;
$border-radius-sm:            $border-radius;

// Inputs
$input-border-color:          $graphite-grayish-blue;
$input-box-shadow:            inset 0 1px 3px 0 rgba(0, 0, 0, 0.15);

// Navbar
$navbar-dark-color:           #fff;

// Tables
$table-cell-padding:          1.5rem;
$table-brand-success:         #6fd760;