// custom BS and APP variables
// run "gulp sass" to compile
// (bootstrap supposed to be installed in ../vendor/bower_components/boostrap first)

$gray-dark:                 #373a3c !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

$brand-primary:             #09acf8 !default; // design v2
$brand-success:             #48C248 !default; // ...
$brand-info:                #31e3ff !default; // design v2
$brand-warning:             #f0ad4e !default; // non-changed
$brand-danger:              #ff002d !default; // rgb(255, 0, 45)

$link-hover-decoration:     none;
$font-family-sans-serif:    Roboto, sans-serif;

$headings-font-weight:      400;
$headings-line-height:      1.5;
//$headings-color:            $graphite-dark;

// Custom
$graphite-dark:             #394346 !default; // rgb(57, 67, 70) // graphite
$graphite:                  #505e62 !default; // hex(194, 10, 35) // 45595f
$graphite-light:            #7c8c94 !default; // design v2
$graphite-lighter:          #ebeeef !default; // hex(194, 10, 93)
$graphite-lightest:         #f6f8f9 !default; // rgb(246, 248, 249)

$brand-primary-muted:       #c3e9fe; // rgb(195, 233, 254)
$brand-success-muted:       #8fddc6; // rgb(143, 221, 198)
$brand-info-muted:          #c3ebfd; // design v2
$brand-danger-muted:        #d69a98; // rgb(217, 150, 150)

$title-letter-spacing:      0.10rem;

$btn-padding-x-xxxlg:       3rem !default; // for btn-title
$btn-padding-y-xxxlg:       1rem !default; // for btn-title

$navbar-dark-color:         white