$bg-utils-padding:                .5rem !default;
$bg-utils-margin:                 1rem !default;

// Code
$highlights-padding:              1rem !default;
$highlights-margin:               1rem !default;