body, p, td {
  font-weight: 300; }

.b-dashed {
  border-style: dashed !important; }
.b-dotted {
  border-style: dotted !important; }
.b-a-1 {
  border-width: 1px;
  border-left-color: $card-border-color; }
.b-l-1 {
  border-width: 0;
  border-left-width: 1px !important;
  border-left-color: $card-border-color;
  border-left-style: solid; }
.b-r-1 {
  border-width: 0;
  border-right-width: 1px !important;
  border-right-color: $card-border-color;
  border-right-style: solid; }
.b-t-1 {
  border-width: 0;
  border-top-width: 1px !important;
  border-top-color: $card-border-color;
  border-top-style: solid; }
.b-b-1 {
  border-width: 0;
  border-bottom-width: 1px !important;
  border-bottom-color: $card-border-color;
  border-bottom-style: solid; }

.m-a-n-1 {
  margin: ($grid-gutter-width / -2); }
.m-x-n-1 {
  margin-left: ($grid-gutter-width / -2);
  margin-right: ($grid-gutter-width / -2); }
.m-y-n-1 {
  margin-top: ($grid-gutter-width / -2);
  margin-bottom: ($grid-gutter-width / -2); }
.m-l-n-1 {
  margin-left: ($grid-gutter-width / -2); }
.m-r-n-1 {
  margin-right: ($grid-gutter-width / -2); }
.m-t-n-1 {
  margin-top: ($grid-gutter-width / -2); }
.m-b-n-1 {
  margin-bottom: ($grid-gutter-width / -2); }

.link {
  cursor: pointer; }
.link-colorless {
  color: inherit; }
.link-decorless:hover {
  text-decoration: none; }
.link-dashed,
.link-dashed:hover {
  border-bottom: 1px dotted;
  text-decoration: none; }

.bg-clear {
  background-color: #fff; }
.bg-icon {
  padding: 0.6em 0.7em;
  border-radius: 100em; }

.bg-inverse .btn-secondary,
.bg-primary .btn-secondary,
.bg-success .btn-secondary,
.bg-info .btn-secondary,
.bg-warning .btn-secondary,
.bg-danger .btn-secondary {
  border: none; }
.btn-icon {
  padding: 0.45em 0.7em;
  border-radius: 100em; }
.btn-title {
  text-transform: uppercase;
  letter-spacing: $title-letter-spacing * 1.5;
  font-weight: 300;
  padding: $btn-padding-y-xxxlg $btn-padding-x-xxxlg; }

.hr-dash {
  display: inline-block;
  width: 1.5em;
  border-width: 0.3em;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0.15em;
  margin-right: 0.5em;
  vertical-align: middle; }
.hr-primary {
  border-color: $brand-primary; }
.hr-success {
  border-color: $brand-success; }
.hr-info {
  border-color: $brand-info; }
.hr-warning {
  border-color: $brand-warning; }
.hr-danger {
  border-color: $brand-danger; }
.hr-graphite {
  border-color: $graphite; /* or $graphite-dark? */ }
.hr-primary-muted {
  border-color: $brand-primary-muted; }
.hr-success-muted {
  border-color: $brand-success-muted; }
.hr-danger-muted {
  border-color: $brand-danger-muted; }

ul, ol {
  padding-left: 1.2em; /* a-la zero left padding */ }
