.col-xs-bordered,
.col-sm-bordered,
.col-md-bordered,
.col-lg-bordered,
.col-xl-bordered {
  border: 1px solid $card-border-color; }
.col-xs-bordered + .col-xs-bordered {
  border-left: none; }

@media (max-width: breakpoint-max(xs)) {
  .col-xs-bordered,
  .col-sm-bordered,
  .col-md-bordered,
  .col-lg-bordered,
  .col-xl-bordered {
    border-left-width: 0 !important;
    border-right-width: 0 !important;
  }
  .col-sm-bordered + .col-sm-bordered {
    border-top: none;
  } }
@media (min-width: breakpoint-min(sm)) {
  .col-sm-bordered + .col-sm-bordered {
    border-left: none;
  } }
@media (max-width: breakpoint-max(sm)) {
  .col-md-bordered {
    border-left-width: 0;
    border-right-width: 0;
  }
  .container .col-md-bordered {
    border-left-width: 1px;
    border-right-width: 1px;
  }
  .col-md-bordered + .col-md-bordered {
    border-top: none;
  } }
@media (min-width: breakpoint-min(md)) {
  .col-md-bordered + .col-md-bordered {
    border-left: none;
  } }
@media (max-width:  breakpoint-max(md)) {
  .col-lg-bordered {
    border-left-width: 0;
    border-right-width: 0;
  }
  .container .col-lg-bordered {
    border-left-width: 1px;
    border-right-width: 1px;
  }
  .col-lg-bordered + .col-lg-bordered {
    border-top: none;
  } }
@media (min-width: breakpoint-min(lg)) {
  .col-lg-bordered + .col-lg-bordered {
    border-left: none;
  } }
@media (max-width: breakpoint-max(lg)) {
  .col-xl-bordered {
    border-left-width: 0;
    border-right-width: 0;
  }
  .container .col-xl-bordered {
    border-left-width: 1px;
    border-right-width: 1px;
  }
  .col-xl-bordered + .col-xl-bordered {
    border-top: none;
  } }
@media (min-width: breakpoint-min(xl)) {
  .col-xl-bordered + .col-xl-bordered {
    border-left: none;
  } }
