/* TODO: split to many scss files accroding as Bootstap does */
body {
  padding-top: 3.3rem;
  padding-bottom: 3.3rem;
}

/* override fonts */
body, p, td {
  font-weight: 300;
}
.form-group label {
  font-size: $font-size-sm;
  font-weight: normal;
}

.text-title {
  text-transform: uppercase;
  letter-spacing: $title-letter-spacing;
}
.text-thin,
.font-weight-thin {
  font-weight: 100,
}
.text-light,
.font-weight-light {
  font-weight: 300,
}
.text-normal,
.font-weight-normal {
  font-weight: 400,
}
.text-bold,
.font-weight-bold {
  font-weight: 700,
}

.text-graphite {
  color: $graphite !important;
}
.text-primary-link:hover {
  color: inherit !important;
}
.text-success-link:hover {
  color: inherit !important;
}
.text-info-link:hover {
  color: inherit !important;
}
.text-warning-link:hover {
  color: inherit !important;
}
.text-danger-link:hover {
  color: inherit !important;
}
.text-graphite-link:hover {
  color: inherit !important;
}


.b-dashed {
  border-style: dashed;
}
.b-dotted {
  border-style: dotted;
}
.b-a-1 {
  border: 1px solid $card-border-color;
}
.b-l-1 {
  border-left: 1px solid $card-border-color;
}
.b-r-1 {
  border-left: 1px solid $card-border-color;
}
.b-t-1 {
  border-left: 1px solid $card-border-color;
}
.b-b-1 {
  border-left: 1px solid $card-border-color;
}

.m-a-n-1 {
  margin: ($grid-gutter-width / -2);
}
.m-x-n-1 {
  margin-left: ($grid-gutter-width / -2);
  margin-right: ($grid-gutter-width / -2);
}
.m-y-n-1 {
  margin-top: ($grid-gutter-width / -2);
  margin-bottom: ($grid-gutter-width / -2);
}
.m-l-n-1 {
  margin-left: ($grid-gutter-width / -2);
}
.m-r-n-1 {
  margin-right: ($grid-gutter-width / -2);
}
.m-t-n-1 {
  margin-top: ($grid-gutter-width / -2);
}
.m-b-n-1 {
  margin-bottom: ($grid-gutter-width / -2);
}

.link {
  cursor: pointer;
}
.link-colorless {
  color: inherit;
}
.link-decorless:hover {
  text-decoration: none;
}
.link-dashed,
.link-dashed:hover {
  border-bottom: 1px dotted;
  text-decoration: none;
}

.bg-clear {
  background-color: #fff;
}
.bg-icon {
  padding: 0.6em 0.7em;
  border-radius: 100em;
}

.btn-icon {
  padding: 0.45em 0.7em;
  border-radius: 100em;
}
.btn-title {
  text-transform: uppercase;
  letter-spacing: $title-letter-spacing;
  font-weight: 300;
  padding: $btn-padding-y-xxxlg $btn-padding-x-xxxlg;
}

.hr-dash {
  display: inline-block;
  width: 1.5em;
  border-width: 0.3em;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0.15em;
  margin-right: 0.5em;
  vertical-align: middle;
}
.hr-primary {
  border-color: $brand-primary;
}
.hr-success {
  border-color: $brand-success;
}
.hr-info {
  border-color: $brand-info;
}
.hr-warning {
  border-color: $brand-warning;
}
.hr-danger {
  border-color: $brand-danger;
}
.hr-graphite {
  border-color: $graphite; /* or $graphite-dark? */
}
.hr-success-muted {
  border-color: $brand-success-muted;
}
.hr-danger-muted {
  border-color: $brand-danger-muted;
}

.nav-tabs-center > .nav-item, .nav-pills-center > .nav-item {
  float: none;
  display: inline-block;
  *display: inline; /* ie7 fix */
  zoom:1; /* hasLayout ie7 trigger */
}
.nav-tabs-center {
  text-align: center;
}

ul, ol {
  padding-left: 1.2em; /* a-la zero left padding */
}

.table thead td,
.table thead th {
  border-top: none;
}
.table thead th {
  color: $graphite-light;
  font-size: $font-size-xs;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.table-borderless-top thead tr th,
.table-borderless-top thead tr td {
  border-top: none;
}
.table-borderless-top thead tr th,
.table-borderless-top tr:first-child th,
.table-borderless-top tr:first-child td {
  border-bottom: none;
}
.table-borderless > tbody > tr > th,
.table-borderless > tbody > tr > td,
.table-borderless > thead > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > tfoot > tr > td {
  border-top: none;
}
.table thead .tr-borderless td,
.table thead .tr-borderless th,
.table tbody .tr-borderless td,
.table tbody .tr-borderless th {
  border-top: none !important;
}
.table .tr-middle > th,
.table .tr-middle > td {
  vertical-align: middle;
}
.tr-clickable, .td-clickable {
  cursor: pointer;
}
.tr-non-clickable, .td-non-clickable {
  cursor: inherit;
}

.nav-tabs-bordered .nav-link {
  color: inherit;
  padding-left: 0;
  padding-right: 0;
  border: none;
  border-radius: 0;
  border-bottom: 4px solid transparent !important;
}
.nav-tabs-bordered .nav-item + .nav-item {
  margin-left: $grid-gutter-width;
}
.nav-tabs-bordered .nav-link:focus,
.nav-tabs-bordered .nav-link:hover {
  color: $brand-primary;
}
.nav-tabs-bordered .nav-link.active,
.nav-tabs-bordered .nav-link.active:focus,
.nav-tabs-bordered .nav-link.active:hover,
.nav-tabs-bordered .nav-item.open .nav-link,
.nav-tabs-bordered .nav-item.open .nav-link:focus,
.nav-tabs-bordered .nav-item.open .nav-link:hover {
  font-weight: 400; /* normal */
  border-bottom-color: $brand-primary !important;
}

.modal.left .navbar-nav .nav-item,
.modal.right .navbar-nav .nav-item {
  float: none;
}
.modal.left .navbar-nav .nav-item+.nav-item,
.modal.left .navbar-nav .nav-link+.nav-link,
.modal.right .navbar-nav .nav-item+.nav-item,
.modal.right .navbar-nav .nav-link+.nav-link {
  margin-left: 0;
}
.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 80%;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
     -o-transform: translate3d(0%, 0, 0);
      transform: translate3d(0%, 0, 0);
}
.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}
.modal.left .modal-body,
.modal.right .modal-body {
  padding: $grid-gutter-width / 2 $grid-gutter-width;
}
.modal.left.fade .modal-dialog {
  left: -80%;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
     -o-transition: opacity 0.3s linear, left 0.3s ease-out;
      transition: opacity 0.3s linear, left 0.3s ease-out;
}
.modal.left.fade.in .modal-dialog {
  left: 0;
}
.modal.right.fade .modal-dialog {
  right: -80%;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
      transition: opacity 0.3s linear, right 0.3s ease-out;
}
.modal.right.fade.in .modal-dialog {
  right: 0;
}
.modal.left .modal-content,
.modal.right .modal-content {
  border-radius: 0;
  border: none;
}
.modal.left .modal-header,
.modal.right .modal-header {
  border-bottom-color: transparent;
}
.modal.left .modal-footer,
.modal.right .modal-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: left;
  border-top-color: transparent;
  padding: $grid-gutter-width / 2 $grid-gutter-width;
}

.col-xs-bordered,
.col-sm-bordered,
.col-md-bordered,
.col-lg-bordered,
.col-xl-bordered {
  border: 1px solid $card-border-color;
}
.col-xs-bordered + .col-xs-bordered {
  border-left: none;
}

/* TODO: insert variables $container-max-widths-* */
@media (max-width: 543px) {
  .col-xs-bordered,
  .col-sm-bordered,
  .col-md-bordered,
  .col-lg-bordered,
  .col-xl-bordered {
    border-left-width: 0 !important;
    border-right-width: 0 !important;
  }
  .col-sm-bordered + .col-sm-bordered {
    border-top: none;
  }
}
@media (min-width: 544px) {
  .col-sm-bordered + .col-sm-bordered {
    border-left: none;
  }
}
@media (max-width: 767px) {
  .col-md-bordered {
    border-left-width: 0;
    border-right-width: 0;
  }
  .container .col-md-bordered {
    border-left-width: 1px;
    border-right-width: 1px;
  }
  .col-md-bordered + .col-md-bordered {
    border-top: none;
  }
}
@media (min-width: 768px) {
  .col-md-bordered + .col-md-bordered {
    border-left: none;
  }
}
@media (max-width: 991px) {
  .col-lg-bordered {
    border-left-width: 0;
    border-right-width: 0;
  }
  .container .col-lg-bordered {
    border-left-width: 1px;
    border-right-width: 1px;
  }
  .col-lg-bordered + .col-lg-bordered {
    border-top: none;
  }
}
@media (min-width: 992px) {
  .col-lg-bordered + .col-lg-bordered {
    border-left: none;
  }
}
@media (max-width: 1199px) {
  .col-xl-bordered {
    border-left-width: 0;
    border-right-width: 0;
  }
  .container .col-xl-bordered {
    border-left-width: 1px;
    border-right-width: 1px;
  }
  .col-xl-bordered + .col-xl-bordered {
    border-top: none;
  }
}
@media (min-width: 1200px) {
  .col-xl-bordered + .col-xl-bordered {
    border-left: none;
  }
}

.react-autosuggest__container {
  position: relative;
}
.react-autosuggest__input {
}
.react-autosuggest__input:focus {
}
.react-autosuggest__container--open .react-autosuggest__input {
}
.react-autosuggest__suggestions-container {
  position: absolute;
  top: 100%;
  border-radius: 0;
}
.react-autosuggest__suggestion {
  cursor: pointer;
}
.react-autosuggest__suggestion--focused {
  /* TODO: make it scss. derived from: .dropdown-item:focus, .dropdown-item:hover */
  color: #2b2d2f;
  text-decoration: none;
  background-color: $gray-lightest;
}
.no-suggestions {
}

.slider {
  height: 0.2em;
  background-color: $gray-lighter; /* temp temp temp */
  margin-top: 0.5em; /* 1/2 handle height - 1/2 slider height */
  margin-bottom: 0.5em; /* 1/2 handle height - 1/2 slider height */
}
.handle {
  width: 0.5em;
  height: 1.2em;
  margin-top: -0.5em; /* 1/2 handle height - 1/2 slider height */
  /* margin-left: -0.75em; */
  background-color: $brand-primary;
  border-radius: 0.2em;
  box-sizing: border-box;
}
.slider-labels {
  margin-top: 0.5em;
}
.slider-label-min {
  float: left;
  font-size: $font-size-xs,
}
.slider-label-max {
  float: right;
  font-size: $font-size-xs,
}
.slider-label {
  text-align: center;
  font-size: $font-size-xs,
}

.ui-switch {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: $input-height * 1.3;
  height: $input-height / 2;
  border-radius: 100em;
  background-color: white;
  margin: 0;
  border: 1px solid $input-border-color;
}
.ui-switch input {
  position: absolute;
  opacity: 0; 
}
.ui-switch input:checked + i:before {
}
.ui-switch input:checked + i:after {
  margin-left: $input-height * 1.3 - $input-height / 2;
}
.ui-switch i:before {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background-color: $gray-lighter;
  border: 1px solid $input-border-color;
  border-radius: 100em;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.ui-switch i:after {
  content: "";
  position: absolute;
  top: 50%;
  bottom: 1px;
  background-color: #fff;
  width: $input-height;
  height: $input-height;
  margin-top: $input-height / -2;
  margin-left: $input-height / -2;
  border-radius: 100em;
  border: 1px solid $gray-lighter;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  -webkit-transition: margin-left 0.3s;
  transition: margin-left 0.3s; 
}
.ui-switch-sm {
  width: $input-height-sm * 1.3;
  height: $input-height-sm / 2;
}
.ui-switch-sm input:checked + i:after {
  margin-left: $input-height-sm * 1.5 - $input-height-sm / 2;
}
.ui-switch-sm i:after {
  width: $input-height-sm;
  height: $input-height-sm;
  margin-top: $input-height-sm / -2;
  margin-left: $input-height-sm / -2;
}
.ui-switch-lg {
  width: $input-height-lg * 1.3;
  height: $input-height-lg / 2;
}
.ui-switch-lg input:checked + i:after {
  margin-left: $input-height-lg * 1.5 - $input-height-lg / 2;
}
.ui-switch-lg i:after {
  width: $input-height-lg;
  height: $input-height-lg;
  margin-top: $input-height-lg / -2;
  margin-left: $input-height-lg / -2;
}