.text-graphite {
  color: $graphite !important; }
.text-primary-link:hover {
  color: inherit !important; }
.text-success-link:hover {
  color: inherit !important; }
.text-info-link:hover {
  color: inherit !important; }
.text-warning-link:hover {
  color: inherit !important; }
.text-danger-link:hover {
  color: inherit !important; }
.text-graphite-link:hover {
  color: inherit !important; }

.text-thin,
.font-weight-thin {
  font-weight: 100; }
.text-light,
.font-weight-light {
  font-weight: 300; }
.text-normal,
.font-weight-normal {
  font-weight: 400; }
.text-bold,
.font-weight-bold {
  font-weight: 500; }
.text-title {
  text-transform: uppercase;
  letter-spacing: $title-letter-spacing; }

h1.text-title {
  font-weight: bold;
  font-size: $font-size-h3;
  /* plus text-title styling */ }
h3.text-title {
  font-weight: bold;
  font-size: $font-size-h4;
  /* plus text-title styling */ }
h3.text-title {
  font-weight: bold;
  font-size: $font-size-h5;
  /* plus text-title styling */ }
h4.text-title {
  font-weight: bold;
  font-size: $font-size-h6;
  /* plus text-title styling */ }
h5.text-title {
  font-weight: bold;
  font-size: $font-size-sm;
  /* plus text-title styling */ }
h6.text-title {
  font-weight: bold;
  font-size: $font-size-xs;
  /* plus text-title styling */ }
